@model CompanyGroup.WebClient.Models.Visitor
@{
    ViewBag.Title = "Contact";
}

	<aside id="aside-first" class="aside-first group">
		<div class="zone zone-aside-first">
            <article class="widget-html-widget widget">
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/site_elements/camp-fair.jpg")" alt="" height="400" width="240" /></p>
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/HtmlWidget/mogyoro.jpg")" alt="" height="400" width="240" /></p>
            </article>
        </div>
	</aside>
	<div id="layout-content" class="group">
        @*cms Messages
		<div id="messages">
			Messages
		</div>*@
        @*cms BeforeContent
		<div id="before-content">
			BeforeContent
		</div>*@
		<div id="preloader">
			loadnig...
		</div>
		<div id="content" class="group">
			<div id="main_content" class="zone zone-content">
                                   
            </div>
		</div>
        @*cms AfterContent
		<div id="after-content">
			AfterContent
		</div>*@
	</div>
    @*cms AsideSecond
    <aside id="aside-second" class="aside-second">
		AsideSecond
	</aside>*@

@section ScriptFiles {
    head.js('@Scripts.Url("~/bundles/apputils")');

    head.js('@Scripts.Url("~/bundles/partnerinfo")');
}
@section ScriptOnReady {


    var model = @(Html.Raw(Json.Encode(Model)));
    console.log(model);

    companyGroup.partnerinfo.run('#/');

    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model);
  	$('#usermenuContainer').html(usermenuHtml);

    var quickmenuHtml = Mustache.to_html($('#quickmenuTemplate').html(), model);
  	$('#quickmenuContainer').html(quickmenuHtml);

    $("#chk_accept").change(function () {
        if($('#chk_accept').is(':checked')) {
            //CompanyGroupCms.Registration.AddNew();
            //$('#regstep2').show();
        }
        else {
            //$('#regstep2').hide();
        }
    });

}