@model  CompanyGroup.Dto.WebshopModule.BannerList

    <div id="container_2">
    @*catalogueDetailsLogTemplate*@
    </div>
	<div id="cus_recommended_prod_container">
	<strong>Ajánlott termékek</strong>
        <ul id="cus_recommended_prod_content">
            @foreach (CompanyGroup.Dto.WebshopModule.BannerProduct banner in @Model.Items)
            {
          <li>
		        <table  border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="100" height="100" align="center" ><a href="@String.Format("#/details/{0}/{1}", Url.Encode(banner.ProductId), banner.DataAreaId)">
                    <img src="@Url.Content("~/api/PictureApi/GetPictureItem/?")@String.Format("PictureId={0}&MaxWidth=100&MaxHeight=100", banner.PictureId)" alt="@banner.ItemName" title="@banner.ItemName" /></a>
                    </td>
                </tr>
                <tr>
                    <td>
	                <div style="height:50px; overflow:hidden;" align="center">
                    <span style="color:#888;">@banner.ProductId</span><br/>
	                <span>@banner.ItemName</span>
                    </div></td>
                </tr>
                </table>	
		        </li>
                }
	        </ul>
        </div>

<script id="catalogueDetailsLogTemplate" type="text/x-jquery-tmpl">
	<strong>Megtekintett termékek</strong>
    {{if Items.length == 0}}
	<p>Nincsenek eddig tekintett  termékek.</p>
    <p>Bejelentkezett állapotban itt fog megjelenni  az eddig megtekintett termékek listája.</p>
<p>Kellemes böngészést kíván a HRP Hungary Kft. csapata Önnek!</p>{{/if}}
	<ul id="items">
	    {{each( i, item ) Items}}
        <li>
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
		    <td style="padding-right:5px" width="50px" height="50px">
                <a href="#/details/${item.ProductId}/${item.DataAreaId}"><img src="${companyGroup.utils.instance().getSmallThumbnailPictureUrl(item.PictureId)}" alt="${item.ProductName}" title="${item.ProductName}" /></a>
            </td>
            <td>
                <div style="height:50px; overflow:hidden;"><span style="color:#000;">${item.ProductName}</span></div>
            </td>
        </tr>
		</table> 
		</li>
		{{/each}}
    </ul>
  </script>
