@model CompanyGroup.WebClient.Models.Catalogue
@{
    ViewBag.Title = "Webáruház";
}
		<div id="preloader">
		</div>
		<div id="content" class="group">
			<div class="zone zone-content">
			<input type="hidden" id="hidden_cartId" value="" />
                <input type="hidden" id="hidden_cartopen" value="" />
                <div id="basket_open_button"></div>
				<script id="shoppingCartSummaryTemplate" type="text/x-jquery-tmpl">
                {{if Visitor.IsValidLogin}}
                <div align="right">
                <table align="right" id="active_basket" border="0" cellpadding="0" cellspacing="0">
                    <tr>
						<td><a style="text-decoration:none;" href="#/saveShoppingCartOpenStatus/{{if ShoppingCartOpenStatus}}0{{else}}1{{/if}}"><img src="@Url.Content("~/Content/Media/images/basket_2.png")" alt=""/></a></td>
						<td class="active_basket_middle_cell" nowrap="nowrap">
						<a href="#/saveShoppingCartOpenStatus/{{if ShoppingCartOpenStatus}}0{{else}}1{{/if}}" class="btn_basket_slide">
                            <span style="color: #000">Aktív kosár: </span><span style="color: #900">${companyGroup.utils.instance().formatNumber(ActiveCart.SumTotal)} </span></a>
                        </td>
							<td><a style="text-decoration:none;" href="#/saveShoppingCartOpenStatus/{{if ShoppingCartOpenStatus}}0{{else}}1{{/if}}"><div align="center" id="modify_btn"><span>Kosár <span id="shoppingCartSummaryCaption" style="color: #000">{{if ShoppingCartOpenStatus}}bezárása{{else}}modosítása / Megrendelés{{/if}}</span></div></a></td>
                    </tr>
                </table>
				</div>
                {{/if}}
				</script>
				<div id="basket_panel">
                    <div id="cus_basket_menu"></div>
                    <script id="shoppingCartHeaderTemplate" type="text/x-jquery-tmpl">
                    {{if Visitor.IsValidLogin}}
                    <table width="974" border="0" cellspacing="0" cellpadding="2">
                        <tr>
                            <td nowrap="nowrap">&nbsp;<a href="#/addShoppingCart"><img src="@Url.Content("~/Content/Media/images/basketicons/new.png")" alt="" /></a></td>
                            <td nowrap="nowrap"><a href="#/addShoppingCart">Új kosár</a>&nbsp;</td>
                            <td nowrap="nowrap"><a href="#/removeShoppingCart"><img src="@Url.Content("~/Content/Media/images/basketicons/b_delete.png")" alt="" /></a></td>
                            <td nowrap="nowrap"><a href="#/removeShoppingCart">Aktív kosár törlése</a>&nbsp;</td>
                            <td nowrap="nowrap"><a href="#/showSaveCartPanel"><img src="@Url.Content("~/Content/Media/images/basketicons/b_save.png")" alt="" /></a></td>
                            <td nowrap="nowrap"><a id="basket_save" href="#/showSaveCartPanel">Aktív kosár mentése</a>&nbsp;</td>
                            <td nowrap="nowrap"><img src="@Url.Content("~/Content/Media/images/basketicons/import.png")" alt="" /></td>
                            <!-- <td nowrap="nowrap"><a id="new_site" href="#add_new_site">new site</a></td> -->
                            <!-- <td nowrap="nowrap" width="100%"><a id="import_win" href="#import_basket_list_win" >Lista fájl importálása</a></td>-->
                            <td align="right">
                            <select name="saved_shoppingcart_list" id="saved_shoppingcart_list">            
                                <option value="">Mentett / nyitott kosarak listája</option>
                                <optgroup label="Mentett kosarak">
                                    {{each( i, item ) StoredItems}}
                                    {{if item.Active}}
                                        <option class="saved_basket_list_icon" value="${item.Id}" selected="selected">${item.Name}</option>
                                    {{else}}
                                        <option class="saved_basket_list_icon" value="${item.Id}">${item.Name}</option>
                                    {{/if}}
                                    {{/each}}
                                </optgroup>
                                <optgroup label="Nyitott kosarak">
                                    {{each( i, item ) OpenedItems}}
                                    {{if item.Active}}
                                        <option class="open_basket_list_icon" value="${item.Id}" selected="selected">${item.Name}</option>
                                    {{else}}
                                        <option class="open_basket_list_icon" value="${item.Id}">${item.Name}</option>
                                    {{/if}}
                                    {{/each}}
                                </optgroup>
                            </select></td>
                        </tr>
                    </table>
                    {{/if}}
                    </script>
                    <div id="cus_basket"></div>
                    <script id="shoppingCartLineTemplate" type="text/x-jquery-tmpl">
                    {{if Visitor.IsValidLogin}}
                    <table width="974" border="0" cellspacing="1" cellpadding="3">
                        <thead>
                            <tr>
                                <td width="400px"nowrap="nowrap"><strong>Termék neve</strong></td>
                                <td nowrap="nowrap">&nbsp;</td>
                                <td nowrap="nowrap"><strong>Azonosító</strong></td>
                                <td nowrap="nowrap">&nbsp;</td>
                                <td width="130px" align="right"nowrap="nowrap"><strong> Nettó egység ár</strong></td>
                                <td width="60px" nowrap="nowrap"><strong>Mennyiség</strong></td>
                                <td nowrap="nowrap">&nbsp;</td>
                                <td width="60px"><strong>Cég</strong></td>
                           	  	<td nowrap="nowrap">&nbsp;</td>
                                <td width="120px" align="right"><strong>Nettó összesen</strong></td>
                                 <td width="50px">&nbsp;</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{each( i, item ) ActiveCart.Items}}
                            <tr>
                                <td width="400px"nowrap="nowrap">{{if item.IsInSecondHand}}<span style="background-color:#999; padding:3px 6px 3px 6px; border-radius:4px; color:#FFF;"><!--<img src="@Url.Content("~/Content/Media/images/icon-sale.png")" title="${item.ConfigId} - ${item.InventLocationId}" alt="${item.ConfigId} - ${item.InventLocationId}"/>-->Leértékelt</span>{{/if}}&nbsp;<span style="width:400px; overflow:hidden;" size>${item.ProductName}</span></td>
                                <td nowrap="nowrap">&nbsp;</td>
                              <td nowrap="nowrap">${item.PartNumber}</td>
                                <td nowrap="nowrap">&nbsp;</td>
                                <td width="130px" align="right"nowrap="nowrap"><strong>${companyGroup.utils.instance().formatNumber(item.CustomerPrice)}</strong></td>
                                <td width="60px" nowrap="nowrap">
                                <input class="cartnumber" value="${item.Quantity}" title="${item.Id}" style = "width: 35px; margin: 2px 0 0 6px" />@*<img src="@Url.Content("~/Content/Media/images/spin-button.png")">*@
                                db</td>
                                <td nowrap="nowrap">&nbsp;</td>
                                <td width="60px">${companyGroup.utils.instance().toUpperCase(item.DataAreaId)}</td>
                                <!-- <td nowrap="nowrap"><img src="@Url.Content("~/Content/Media/images/basketicons/attention.png")" border="0" title="Kötelező érvényű megrendelés!" alt=""/>&nbsp;</td> -->
                                <!-- <td nowrap="nowrap"><a href="javascript:void(0)" title="Tétel mennyiség módosítása"><img src="@Url.Content("~/Content/Media/images/basketicons/edit.png")" style="border:0px" alt="" /></a>&nbsp;</td> -->
                              <td nowrap="nowrap">&nbsp;</td>
                                <td width="120px" align="right"><strong>${item.ItemTotal}</strong></td>
                                <td width="50px"><a href="#/removeLineFromShoppingCart/${item.Id}" title="Tétel törlése"><img src="@Url.Content("~/content/media/images/basketicons/b_delete.png")" border="0" alt="" /></a></td>
                            </tr>
                            {{/each}}
                            <tr>
                            </tbody>
                    		</table>
                            <hr / style="width: 99%; margin-left:0px">
                            <span style="font-size:20px; color: rgb(8, 67, 133);">Kosár nettó összérték:&nbsp;</span><strong><span style="color: rgb(8, 67, 133); font-size:20px;">${companyGroup.utils.instance().formatNumber(ActiveCart.SumTotal)}</span></strong> 
							{{/if}}
                    </script>
					<div id="cus_checkout_menu">
                        <table width="974" border="0" cellpadding="3" cellspacing="1">
                            <tr>
                                <td>
                                    <table width="974" border="0" cellspacing="1" cellpadding="3">
                                    <tr>
                                        <!--td nowrap="nowrap"></td-->
                                        <td nowrap="nowrap"><a id="checkout_btn" href="#/showCreateOrder"><strong><!--<img src="@Url.Content("~/Content/Media/images/basketicons/chck.png")" alt="" />-->Megrendelés</strong></a></td>
                                        <!--<td nowrap="nowrap"> <img src="@Url.Content("~/Content/Media/images/basketicons/bid.png")" alt="" /></td>
                                      <td nowrap="nowrap">  <img src="@Url.Content("~/Content/Media/images/basketicons/bid.png")" alt="" />&nbsp;</td>
                                          <td nowrap="nowrap"><span id="ajanlat_veg_link"><strong>Végfelhasználói árajánlat készítése</strong></span>&nbsp;&nbsp;</td>-->
                                        <td nowrap="nowrap" width="100%">
                                        <a id="finance_btn" style="text-decoration:none;" href="#/showCreateFinanceOffer"><strong>Tartós bérleti ajánlat készítése</strong></a>&nbsp;
                                        <a class="tooltip" href="#"><img src="@Url.Content("~/Content/Media/images/help_less.gif")" alt="Help" height="12" width="12"/><span><strong>NE vedd meg, béreld!</strong><br/>HRP Finance által kínált tartós bérlet finanszírozási ajánlat</span></a>
                                        </td>
                                    </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

					<div id="cus_rendeles_feladas">
                    <form action="#/createOrder" method="post" id="form_createorder">
                    <table width="100%" border="0" cellspacing="1" cellpadding="7">
                    <tr>
    				<td style="font-size:20px; color: rgb(8, 67, 133);" ><strong>Átvételi mód </strong></td>
                    </tr>
                    <tr>
                    <td><input id="atvetel" type="radio" name="radio_delivery" value="1" />Raktári átvétel 
					<input id="kiszallitas" type="radio" name="radio_delivery" value="2" />Kiszállítás</td>
                    </tr>
                    </table>
                    <hr class="hr1" style="border-style: none none dotted; border-width: 1px; margin-left:0px" />                
                    <div id="szal_adat">
                        <table width="100%" border="0" cellspacing="1" cellpadding="7">
                        <tr>
                          <td colspan="2" style="font-size:20px; color: rgb(8, 67, 133);" ><strong> Szállítási adatok</strong></td>
    				    </tr>
                        <tr>
                            <td width="13%"><strong>Kiszállítási cím: </strong></td>
                            <td width="87%"><select name="site_select" id="site_select"></select>
                            <script id="deliveryAddressTemplate" type="text/x-jquery-tmpl">
                            <!-- {{each( i, item ) Items}} -->
                            <option value="${item.RecId}">${item.ZipCode} ${item.City} ${item.Street}</option>
                            <!-- {{/each}} -->
                            </script>
                            @*<input type="button" name="newOrderForm" id="newOrderForm" value="Új telephely hozzáadása" />*@
                            </td>
                        </tr>
                        <tr>
                          <td ><strong>Szállítási időpont:</strong></td>
                          <td >  
                            <input name="naptar" id="naptar" type="text" value="Kattintson ide" onfocus="if(this.value=='Kattintson ide')this.value=''" onblur="if(this.value=='')this.value='Kattintson ide'" />
                            <div id="div_deliverydate_notallowed">A kiszállítás időpontjáról egyeztessen személyesen kapcsolattartójával.</div>
                          </td>
                        </tr>
                        </table>
                        <hr style="border-style: none none dotted; border-width: 1px; width: 99%; margin-left:0px" />
                    </div>
                    <div id="payment_option">
                        <table border="0" cellspacing="1" cellpadding="7">
                        <tr></tr>
                        <tr>
                          <td style="font-size:20px; color: rgb(8, 67, 133);" ><strong> Fizetési mód</strong></td>
                        </tr>
                        <tr>
                          <td class="transfer"><input id="transfer" type="radio" name="radio_payment" value="1" />Átutalásos fizetés</td>
                          <td class="cash"><input id="cash" type="radio" name="radio_payment" value="2" />Készpénzes fizetés</td>
                          <!--<td class="payadvance" ><input id="payadvance" type="radio" name="radio_payment" value="3" />Előreutalás</td>-->
                          <td class="payafter"><input id="payafter" type="radio" name="radio_payment" value="4" />Utánvét</td>
                        </tr>
                        </table>
                        <hr class="hr2" style="border-style: none none dotted; border-width: 1px; width: 99%; margin-left:0px" />
                    </div>
                    <div id="order_rest">
                        <table width="61%" border="0" cellpadding="7" cellspacing="5">
                           <tr>
                            <td width="31%" style="border-style: none dotted none none; border-width:1px;"><strong>Egyedi rendelés azonosító: </strong>
                           <input type="text" name="custom_number" id="custom_number"/></td>
                            <td width="69%" ><span style="padding-left:5px;">
                              <textarea style="width:335px; height:40px;" name="user_comment" cols="50" rows="4" class="regfields" id="user_comment">Megjegyzés:
                              </textarea>
                            </span></td>
                          </tr>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="6">
                          <tr>
                            <td><input type="submit" name="feladas" id="feladas" value="Rendelés feladása" class="feladasopciok_block" /></td>
                          </tr>
                          <tr>
                            <td><span id="span_createorder_message"> </span></td>
                          </tr>
                        </table>
                    </div>
                    </form>
                    </div>

                    <div id="cus_ajanlat_vegfelhasznalo">
                    Végfelhasználói árajánlat készítése
                    <br />
                    <br />
                    <table border="0" cellspacing="3" cellpadding="2">
                        <tr>
                            <td>Cím mező megadása</td>
                            <td>
                            <input type="text" name="textfield" id="textfield" />
                            </td>
                        </tr>
                        <tr>
                            <td>Logo feltöltése</td>
                            <td>
                            <input type="file" name="fileField" id="fileField" />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Végfelhasználó adatai</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Név</td>
                            <td>
                            <input type="text" name="textfield2" id="textfield2" />
                            </td>
                        </tr>
                        <tr>
                            <td>Cím</td>
                            <td>
                            <input type="text" name="textfield3" id="textfield3" />
                            </td>
                        </tr>
                        <tr>
                            <td>Adószám</td>
                            <td>
                            <input type="text" name="textfield4" id="textfield4" />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
                
                    <div id="cus_ajanlat_finance">
                        <p><span style="font-size:20px; color: rgb(8, 67, 133); width:750px;"><strong>HRP Finance által kínált tartós bérlet finanszírozási ajánlat</strong></span></p><div style="float:left"></div>
                        <div style="width:750px; padding:0px 0px 0px 20px;">
                          Mi lenne, ha a kosár  értékének csupán egy töredéke befizetésével már el is vihetné a &nbsp;benne  lévő termékeket? </p>
                          <p><strong>Erre egy tökéletes megoldás a tartós bérleti  konstrukció! </strong></p>
                          <p>Mi most megmutatjuk Önnek, havonta mekkora összeget kellene  fizetnie, ha ezt a megoldást választaná. Ha tetszik a konstrukció, néhány mező  kitöltésével el is mentheti pdf formátumba az eredményt. Ha felkeltettük  érdeklődését, akkor pontosított árajánlat kérési lehetőséget, és további részleteket  a </strong> <a href="http://www.hrpfinance.hu" target="_blank" style="color: rgb(8, 67, 133); text-decoration:none;"><strong>www.hrpfinance.hu</strong></a> weboldalon talál!</p>
                          <br>
                         
                        </div>
                      <table width="750px" border="0" cellspacing="0" cellpadding="0">
                        <tr>
    <td valign="top"><div align="center" id="leasingOptionsContainer" style="float:left; width:400px; height:150px; padding-left:10px;"></div></td>
    <!--td valign="top"><form action="#/createFinanceOffer" method="post" id="form_financeoffer">
      <table class="financeajanlat" style="background-color:#F5F5F5; border:#999 solid thin; border-radius:3px; padding:3px;" width="0" border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td colspan="2"><div align="center"><strong>Hitel ajánlatkérő űrlap</strong></div></td>
          </tr>
        <tr>
          <td width="142"><strong>Bérbevevő Neve:</strong></td>
          <td><label for="txt_offername"></label>
            @Html.TextBox("txt_offername", "", new { id = "txt_offername", style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:3px;"})
            <label class="error" for="txt_offername" style="display:none; color:#900;">A név kitöltése kötelező</label></td>
          </tr>
        <tr>
          <td><strong>Címe:</strong></td>
          <td><label for="txt_offeraddress"></label>
            @Html.TextBox("txt_offeraddress", "", new { id = "txt_offeraddress", style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:3px;" })
            <label class="error" for="txt_offeraddress" style="display:none; color:#900;">A cím kitöltése kötelező</label></td>
          </tr>
        <tr>
          <td><strong>Telefon:</strong></td>
          <td><label for="txt_offerphone"></label>
            @Html.TextBox("txt_offerphone", "", new { id = "txt_offerphone", style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:3px;" })
            <label class="error" for="txt_offerphone" style="display:none; color:#900;">A telefon kitöltése kötelező</label></td>
          </tr>
        <tr>
          <td><strong>Cégjegyzékszám:</strong></td>
          <td><label for="txt_offerstatnumber"></label>
            @Html.TextBox("txt_offerstatnumber", "", new { id = "txt_offerstatnumber", style = "padding:5px; width:200px; border:1px #bbb solid; border-radius:3px;" })
            <label class="error" for="txt_offerstatnumber" style="display:none; color:#900;">A cégjegyzékszám kitöltése kötelező</label></td>
          </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          </tr>
        </table>
      <div id="financeoffer_errors"></div>
      </form</td-->
  </tr>
</table> 
<br></br>
<form action="#/createFinanceOffer" method="post" id="form_financeoffer">
 <div style="padding:40px 20px 20px 20px;"><strong>Az Ön személyre szóló ajánlata PDF  formátumban letölthető. Ehhez válasszon egy futamidőt, töltse ki az űrlapot,  majd klikkeljen ide.</strong> 
<input name="PDF letőltése" type="image" value="PDF letőltése" src="~/Content/Media/images/pdf_icon.png" alt="PDF letőltése" align="middle" width="50" height="50">
   </form>
   <ul>
              <li>• Ajánlatunkat ajánlati kötöttség nélkül tettük meg, az ügylet megkötéséhez a refinanszírozó jóváhagyása szükséges.
              </li>
              <li>• HUF alapú finanszírozás, a havi díj az 1 havi BUBOR-hoz kötött. </li>
          </ul>
                          <p><strong>A tartós bérlet alapvetői jellemzői</strong></p>
                          <ul>
                            <li>
          
                              Az ÁFA a havi díjakat terheli</li>
                            <li> A terméket a bérbeadó aktiválja</li>
                            <li> A havi díj költségként elszámolható</li>
                          </ul>
		              <p><strong>Ha bármilyen kérdése merülne fel a konstrukciót illetően, forduljon hozzánk bizalommal! további részletek:</strong> <a href="http://www.hrpfinance.hu" target="_blank" style="color: rgb(8, 67, 133); text-decoration:none;"><strong>www.hrpfinance.hu</strong></a></p>
		              <a style="text-decoration:none" href="#/finance_close"><input name="close" type="button" value="Bezárás"></a>
                  </div>  
                      <script id="leasingOptionsTemplate" type="text/x-jquery-tmpl">
                        {{if Message.length > 0}}
                            <di<strong>${Message}</strong>
                        {{else}}
                            <table style="background-color:#F5F5F5; border:#999 solid thin; border-radius:3px;" width="0" border="0" cellspacing="5" cellpadding="5">
                            <tr>
                              <td colspan="2" style="background-color:#09F; color:#FFF"><div align="center"><strong>Tartós bérlet</strong></div></td>
                            </tr>
                            <tr>
                              <td style="background-color:#999; color:#FFF"><div align="center"><strong>futamidő<br>(hónap)</strong></div></td>
                              <td style="background-color:#999; color:#FFF"><div align="center"><strong>havidíj<br>(nettó)</strong></div></td>
                            </tr>
                            {{each( i, item ) Items}}
                            <tr >
                              <td><div align="center"><input class="radiohitel" id="radiohitel" type="radio" name="radio_selectNumOfMonth" value="${item.FinanceParameterId}" style="padding-top: 5px;"/>
                                <strong>${item.NumOfMonth} honap</strong></div></td>
                              <td><div align="center"><strong>${item.CalculatedValue} Ft</strong></div></td>

                            </tr>
                            {{/each}}
                            </table>
                        {{/if}}
                        </script>
              </div>
                    <table width="100%" heaight="20px" border="0" cellspacing="0" cellpadding="6" class="expand_heading_table2">
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                </div>
                <div id="cus_catalogue_left">
		            <div id="cus_banner_table">
    		            <div id="container">
                            <div id="filters">
                            <div id="kettes_szuro">
                        	<div class="onstock_filter"><input type="checkbox" id="chk_filterByHrp" checked="checked" /> HRP termékek</div>
                                <div class="onstock_filter"><input type="checkbox" id="chk_filterByBsc" checked="checked" /> BSC termékek</div>

                            </div>
                            <div id="negyes_szuro">	
                                <div class="onstock_filter"><input type="checkbox" id="chk_onstock"/> Készleten</div>
                                <div class="action_filter"><input type="checkbox" id="chk_onaction"/> Akciós</div>
                                <div class="used_filter"><input type="checkbox" id="chk_bargain" /> Leértékelt</div>
                                <div class="new_filter"><input type="checkbox" id="chk_new" /> Új</div>
                                </div>
                             </div>
					        <div id="cus_filter_price">
                                <form action="#/filterbyprice" method="post" id="form_filterbyprice">
                                <span>Ár szerinti keresés</span>
                                <label class="error" for="txt_filterbyprice" style="display:none; color:#900;">( ! )</label><br />
						        <select name="select_filterbyprice" id="select_filterbyprice" style="margin-top:4px; padding:4px; border-radius:3px; font-size:13px; border: #ccc 1px solid; color:#666; width: 50px;">
							        <option value="1">&gt;=</option>
							        <option value="2" selected="selected">&lt;=</option>
						        </select>
						        <input name="txt_filterbyprice" type="text" id="txt_filterbyprice" size="9" style="margin-top:4px; padding:5px; border-radius:3px; font-size:13px; border: #ccc 1px solid; color:#666; width:135px;"/>
						        <!-- <input type="submit" name="button" id="button" value="Keres" /> -->
						        <div id="cus_refresh_icon">
                                <input style="padding:2px;" type="submit" name="button" id="button" value="Frissítés" />
								</div>
                                </form></div> 
					       

					        <div id="cus_filter_1">
						        Gyártók kiválasztása
						        <br />
						        <select id="manufacturerList" data-placeholder="" class="chzn-select" size="30" multiple style="width:270px;">
							        <option value=""></option>
							        @foreach (var manufacturer in @Model.Structures.Manufacturers)
                                    { 
                                        <option value="@manufacturer.Id">@manufacturer.Name </option>
                                    }
						        </select>
					        </div>
					        <div id="cus_filter_2">
						        Jelleg 1 kiválasztása
						        <br />
						        <select id="category1List" data-placeholder="" class="chzn-select" multiple style="width:270px;">
							        <option value=""></option>
							        @foreach (var category1 in @Model.Structures.FirstLevelCategories)
                                    { 
                                    <option value="@category1.Id">@category1.Name</option>
                                    }
						        </select>
					        </div>
					        <div id="cus_filter_3">
						        Jelleg 2 kiválasztása
						        <br />
						        <select id="category2List" data-placeholder="" class="chzn-select" multiple style="width:270px;">
							        <option value=""></option>
							        @foreach (var category2 in @Model.Structures.SecondLevelCategories)
                                    { 
                                        <option value="@category2.Id">@category2.Name</option>
                                    }
						        </select>
					        </div>
					        <div id="cus_filter_4">
                                Jelleg 3 kiválasztása
						        <br />
                                <select id="category3List" data-placeholder="" class="chzn-select" multiple style="width:270px;">
							        <option value=""></option>
                                    @foreach (var category3 in @Model.Structures.ThirdLevelCategories)
                                    { 
                                        <option value="@category3.Id">@category3.Name</option>
                                    }
						        </select>
					        </div>
				        </div>
                        <div id="banner_table"></div> 
					 </div>
  					</div>
                
                <div id="banners_side" align="center">@{Html.RenderPartial("~/Views/Webshop/Partial1.cshtml");}</div>

                @*terméklista*@
          <div id="cus_catalogue_right">
		            @* listarendezési panel *@
		            <div id="cus_list_order_panel">
			            <table style = "display:none" border="0" cellspacing="0" cellpadding="0">
				            <tr>
					            <td >
					                <div class="expand_all">
						                <a href="#/expandall"><img style="cursor: pointer;" src="@Url.Content("~/Content/Media/images/plusicon_2.png")" title="Összes kinyitása / bezárása" alt="" /></a>
					                </div>
                                </td>
								<td align="right" class="cus_list_order_panel_table">
                                <form id="form_filterbynameorpartnumber" action="#/filterbynameorpartnumber" method="post">
                                    <label class="error" for="txt_filterbynameorpartnumber" style="display:none; color:#900;">A mező kitöltése kötelező</label>
                                    @Html.TextBox("txt_filterbynameorpartnumber", "Név vagy cikkszám szűrése..", new { id = "txt_filterbynameorpartnumber", style = "padding:3px; width:175px; height:22px; margin-top:-1px; border:1px #bbb solid; border-radius:2px;" })
                                </form>
					            </td>
					            <td>
                                </td>
 					            <td>
					                <div id="cus_delbutton">
						                <div id="cus_filterdelete_text">Mindent töröl</div><a href="#/clearFilters"><img src="@Url.Content("~/Content/Media/images/filter_delete_inaktiv.png")" border="0" alt="" /></a>
					                </div>
                                </td><td class="cus_list_order_panel_table">
                                </td>
				            </tr>
			            </table>
			            <div id="div_pager_top">
			            </div>
		            </div>
                    <script id="pagerTemplateTop" type="text/x-jquery-tmpl">
                    <table width="695" border="0" cellpadding="3" cellspacing="1">
				        <tr>
                            <td align="left" >
					            <div class="expand_all">
                                    <a href="#/expandall"><img style="cursor: pointer;" src="@Url.Content("~/Content/Media/images/plusicon.png")" title="Összes kinyitása / bezárása" alt="" /></a>
					            </div>
                            </td>
                      <td align="left">Eredmény: <b>${Products.ListCount}</b></td>
                            <td align="left">
                            {{if Visitor.IsValidLogin}}
							  <select class="select2" name="catalogueSequence">
                                <option value="0">Rendezés</option>
                                <option value="14"><strong>Legnépszerűbb elöl</strong></option>
                                <option value="15"><strong>Újdonság</strong></option>
                                <option value="16"><strong>Akciós</strong></option>
                                <option value="6">Ár: <strong>növekvő</strong></option>
                                <option value="7">Ár: <strong>csökkenő</strong></option>
                                <option value="2">Cikkszám: <strong>növekvő</strong></option>
                                <option value="3">Cikkszám: <strong>csökkenő</strong></option>
                                <option value="5">Név: <strong>növekvő</strong></option>
                                <option value="4">Név: <strong>csökkenő</strong></option>
                                <option value="8">Mennyiség: <strong>növekvő</strong></option>
                                <option value="9">Mennyiség: <strong>csökkenő</strong></option>
                                <option value="12">Garancia: <strong>növekvő</strong></option>
                                <option value="13">Garancia: <strong>csökkenő</strong></option>
                              </select>
                            {{else}}
                            <select class="select2" name="catalogueSequence">
                              <option value="0">Rendezés</option> 
                              <option value="2">Cikkszám: <strong>növekvő</strong></option>
                              <option value="3">Cikkszám: <strong>csökkenő</strong></option>
                              <option value="5">Név: <strong>növekvő</strong></option>
                              <option value="4">Név: <strong>csökkenő</strong></option>
                            </select>
                            {{/if}}</td>
							<td align="left">
                                {{if IsActiveFilter}}
                                <a href="#/clearFilters"><img src="@Url.Content("~/Content/Media/images/filter_delete.png")" border="0" hspace="0" title="Szűrés törlése" alt="Szűrés törlése" /></a>
                                {{else}}
								<img src="@Url.Content("~/Content/Media/images/filter_delete_inaktiv.png")" border="0" hspace="0" title="Szűrés tőrlése" alt="Szűrés törlése" />
                                {{/if}}
							</td>
                            <td align="left">
                        	{{if Visitor.IsValidLogin}}
                                <a href="#/downloadPriceList"><img src="@Url.Content("~/Content/Media/images/list_download.png")" border="0" hspace="0" title="Szűrt lista mentése excel fájlba" alt="Szűrt lista mentése excel fájlba" /></a>
                            {{/if}}
							</td> 
					        <td nowrap="nowrap">
							<table style="font-size:10px;" width="100px" border="0" align="center" cellpadding="2" cellspacing="0">
					          <tr>
					            <td width="15%"> {{if Products.Pager.FirstEnabled}} <a style="letter-spacing:-3px; text-decoration:none; color:#999;" href="#/firstPage">◄◄</a> {{else}} {{/if}} </td>
					            <td width="16%"> {{if Products.Pager.PreviousEnabled}}<a style="text-decoration:none; color:#999;" href="#/previousPage/${Products.Pager.PreviousPageIndex}">◄</a> {{else}}  {{/if}} </td>
					            <td width="9%" align="center"><select name="select_pageindex_top" id="select_pageindex_top">
				                {{each( i, item ) Products.Pager.PageItemList}}
				                {{if item.Selected }}
					              <option value="${item.Index}" selected="selected">${item.Value}</option>
				                {{else}}
					              <option value="${item.Index}">${item.Value}</option>
				                {{/if}}
				                {{/each}}
   				                </select></td>
					            <td width="1%" align="center">/</td>
					            <td width="17%" align="center"><span style="font-size:13px;" id="spanTopLastPageIndex"><b>${Products.Pager.LastPageIndex}</b></span></td>
					            <td width="15%" align="right"> {{if Products.Pager.NextEnabled}} <a style="text-decoration:none; color:#999;" href="#/nextPage/${Products.Pager.NextPageIndex}">►</a> {{else}} {{/if}} </td>
					            <td width="27%" align="right"> {{if Products.Pager.LastEnabled}} <a style="letter-spacing:-3px; text-decoration:none; color:#999;" href="#/lastPage">►►</a> {{else}} {{/if}} </td>
				              </tr>
				            </table>
                            </td>
         <td>Elemek száma:</td>
							<td>
                            <select id="select_visibleitemlist_top">
                            {{each( i, visibleitem ) Products.Pager.VisibleItemList}}
                            {{if visibleitem.Selected }}
                                <option value="${visibleitem.Value}" selected="selected">${visibleitem.Value}</option>
                            {{else}}
                                <option value="${visibleitem.Value}">${visibleitem.Value}</option>
                            {{/if}}
                            {{/each}}
                            </select>
							 </td>  
                         </tr>
			        </table>
					 </script>

                    @*<div id="listscroll">*@
		            <div id="cus_product_table">
			            @* listaelemek*@
			            <div id="div_catalogue" class="wrapper">

                        </div>
                        @*termekelem*@
                        <script id="productTemplate" type="text/x-jquery-tmpl">
				        {{each( i, item ) Products.Items}}
                        {{if item.Available}}

                        <div class="expand_heading">
				            <table width="695" border="0" cellspacing="0" cellpadding="0" class="expand_heading_table1">
				                <tr>
				                    <!--td valign="top"><a id="item_expand" href="#/expand_item"><img src="@Url.Content("~/Content/Media/images/plusicon.png")" alt="" /></a></td-->
				                    <td width="100%" valign="top" claass="cus_prod_header_middle_cell">
				                    <span class="cus_prod_table_item_number">SequenceNumber</span><span class="cus_product_data">${item.ProductId}</span><br /><span class="cus_prod_table_item_name">${item.ItemName}</span>
                                    <br /><span class="cus_prod_table_item_code">${item.PartNumber}</span> 
				                    </td>
				                    <td align="right" valign="top" nowrap="nowrap">
                                        {{if Visitor.IsValidLogin}}
                                        <table border="0" cellspacing="" cellpadding="5" style="color:blue; border:0px; text-align:right;">                                       
	                                    <tr>
											<td style="text-align:right">
											{{if item.SecondHandList.Items.length > 0}}
											<div style="margin:0px 0px 8px 0px"><span class="price" style="font-size:14px; padding:3px; margin_bottom:3px;">Ár:<strong >${companyGroup.utils.instance().formatNumber(item.Price)}</strong> 
											{{if Products.Currency == 'HUF'}} Ft 
											{{/if}}
											{{if Products.Currency == 'EUR'}}  € 
											{{/if}}
											{{if Products.Currency == 'USD'}} $
											{{/if}}</span>
											</div>
											<div><span class="price_used" style=" color:#FFF; padding:3px; ">Leértékelt: <b>${companyGroup.utils.instance().formatNumber(item.SecondHandList.MinimumPrice)} 
                                            {{if Products.Currency == 'HUF'}} Ft 
											{{/if}}
											{{if Products.Currency == 'EUR'}}  € 
											{{/if}}
											{{if Products.Currency == 'USD'}} $
											{{/if}} -tól</b>
											</div></span>
											{{else}}
											<div><span class="price" style="font-size:18px; padding:5px;"> Ár: <b>${companyGroup.utils.instance().formatNumber(item.Price)}</b>
											{{if Products.Currency == 'HUF'}} Ft 
											{{/if}}
											{{if Products.Currency == 'EUR'}}  € 
											{{/if}}
											{{if Products.Currency == 'USD'}} $
											{{/if}}</span>
											</div>							
				                            {{/if}}
                                            <!--br/><a style=" color:#ffc000; text-decoration: none;"href="#/details/${item.ProductId}/${item.DataAreaId}" title="${item.itemName}">Tartósbérlet : <b> ${item.SecondHandList.MinimumPrice} Ft-tól</b></a><br/><a style=" color:#ffc000; text-decoration: none;"href="#/details/${item.ProductId}/${item.DataAreaId}" title="${item.itemName}">Csomagban: <b> ${item.SecondHandList.MinimumPrice} Ft-tól</b></a-->
                                          </td>
    		                            </tr>
				                        </table>
                                        {{/if}}
				                    </td>
				                </tr>
				            </table>
				        </div>

				        <div class="toggle_container" {{if CatalogueOpenStatus}} style="display:block;" {{else}} style="display:none;" {{/if}}>
				            <div class="box">
				                <table width="695" border="0" cellspacing="0" cellpadding="0">
				                    <tr>
				                        <td valign="top">
				                            <div class="cus_termekkep">
                                            {{if item.PictureId > 0}}
				                            <a class="popupimg" href="#/showPicture/${item.ProductId}/${item.DataAreaId}/${item.ItemName}" title="${item.ItemName}"><img src="${companyGroup.utils.instance().getPictureUrl(item.PictureId)}" alt="${companyGroup.utils.instance().getPictureUrl(item.PictureId)}" /></a>
				                            {{else}}
				                            <img src="@Url.Content("~/Content/Media/images/nopic.jpg")" width="180" height="134" alt="" />
                                            {{/if}}
				                            </div>
                                        </td>
				                        <td valign="top" class="cus_prod_table_middle_cell">
				                            <div class="cus_prod_table_desc">${item.Description}</div>
                                        </td>
				                        <td align="right" valign="top" >
				                            <table width="200" border="0" cellspacing="1" cellpadding="2">
				                            <tr>
				                                <td valign="top">

                                                {{if Visitor.IsValidLogin}}
				                                    <div class="cus_teteladatok_2">
                                                    {{if item.IsInStock}}
													    Készleten:<span style="color:green;"><strong> ${item.StockInfo} db</strong></span>
                                                    {{else}}
                                                        {{if item.PurchaseInProgress}}
				                                            <span>Várható érkezés: <b>${item.ShippingInfo}</b></span>
                                                        {{else}}
				                                            <span><b>Rendelhető</b></span>
                                                        {{/if}}
                                                    {{/if}}
                                                    </div>
                                                    <div class="cus_teteladatok">
				                                        <br /><span>Garancia módja:<b> ${item.GarantyMode}</b></span>
				                                        <br /><span>Garancia ideje:<b> ${item.GarantyTime}</b></span>
				                                        {{if item.IsInNewsletter}}
				                                        <br/><span><b>Hírlevél akció</b></span>
				                                        {{/if}}
				                                        {{if item.EndOfSales && Visitor.IsValidLogin}}
				                                        <br/><br/><span><b>Kifutó termék</b></span>
				                                        {{/if}}
				                                    </div>
                                                {{/if}}
				                                </td>
				                            </tr>
				                            </table>
                                        </td>
				                    </tr>
				                </table>
                                </div>
                            </div>			        
                            <form action="#/addLineToShoppingCart" method="post"> 
			                <table width="695px" border="0" cellspacing="1" cellpadding="0" class="expand_heading_table2">
			              <tr>
				                <td nowrap="nowrap">
				                    <div class="cus_prod_table_morelink">
				                        <a style="text-decoration:none; color:#084385;" href="#/details/${item.ProductId}/${item.DataAreaId}" title="Részletes termékadatlap ${item.ItemName} ${companyGroup.utils.instance().getProductDetailsUrl(item.ProductId)}"><strong>Részletes adatlap</strong></a>
				                    </div>
                                </td>
                                <td nowrap="nowrap">
                                {{if Visitor.IsValidLogin && item.Discount}}
                                <div class="cus_prod_table_morelink" style="margin-left:15px;"><span class="action"><b>AKCIÓS!<b></span>
                                    <!-- <a href="javascript:void(0)" onclick=""><img class="basketicon" src="@Url.Content("~/Content/Media/images/compare.png")" border="0" align="absmiddle" /> Összehasonlító listához ad</a> -->
                                </div>
                                {{/if}}
                                </td>
                                <td nowrap="nowrap" >
                                {{if Visitor.IsValidLogin && item.New}}
                                <div class="cus_prod_table_morelink" style="margin-left:15px;"><span class="new"><b>ÚJDONSÁG!</b></span>
                                    <!-- <a href="javascript:void(0)" onclick=""><img class="basketicon" src="@Url.Content("~/Content/Media/images/compare.png")" border="0" align="absmiddle" /> Összehasonlító listához ad</a> -->
                                </div>
                                {{/if}}
                                </td>
                                <td width="100%" >{{if item.SecondHandList.Items.length > 0}}<div id="price_used"> <a style="text-decoration:none; color:#333;" href="#/details/${item.ProductId}/${item.DataAreaId}" title="Részletes termékadatlap ${item.ItemName} ${companyGroup.utils.instance().getProductDetailsUrl(item.ProductId)}">Leértékelt termék részletek</a> </div>{{/if}}</td>
                                <td nowrap="nowrap" align="right">
                                    <div class="cus_prod_table_quantity">

                                    {{if Visitor.IsValidLogin}}
                                    <input type="text" name="txt_quantity" class="number" size="2" value="1" /><span> db</span>
                                    {{/if}}
                                    </div>
                                </td>
                                <td nowrap="nowrap" align="right">
                                    <div class="cus_prod_table_basket">
                                    <input type="hidden" name="hidden_productid" value="${item.ProductId}" />
                                    <input type="hidden" name="hidden_stock" value="${item.Stock}" />
                                    <input type="hidden" name="hidden_endofsales" value="${item.EndOfSales}" />
                                    <input type="hidden" name="hidden_secondhand" value="0" />
                                    <input type="hidden" name="hidden_dataareaid" value="${item.DataAreaId}" />
                                    {{if Visitor.IsValidLogin}}
                                    <input type="image" class="basketicon" src="@Url.Content("~/Content/Media/images/basket.png")" alt="kosár" border="0" align="absmiddle" />
                                    
                                    {{/if}}
                                    </div>
                                </td>
                            </tr>
                            </table>
                            </form>
                        {{else}}
                        @*hasznalt*@
						   						    <div class="expand_heading">
				                <table  width="695" border="0" cellspacing="0" cellpadding="0" class="expand_heading_table1">
				                    <tr>
				                        <!--td valign="top"><a id="item_expand" href="#/expand_item"><img src="@Url.Content("~/Content/Media/images/plusicon.png")" alt="" /></a></td-->
				                        <td width="100%" valign="top" class="cus_prod_header_middle_cell">
				                        <span class="cus_prod_table_item_number">SequenceNumber</span><span class="cus_product_data">${item.ProductId}</span><br /><span class="cus_prod_table_item_name">${item.ItemName}</span>
                                        <br /><span class="cus_prod_table_item_code">${item.PartNumber}</span>
				                        </td>
				                        <td align="right" valign="top" nowrap="nowrap">
                                            {{if Visitor.IsValidLogin}}
                                            <table border="0" cellspacing="" cellpadding="5" style="color:blue; border:0px; text-align:right;">                                       
	                                        <tr>
				                                <td class="price_used" style="text-align:right">
										        {{if item.SecondHandList.Items.length > 0}}
				                                <a style=" color:#FFF; text-decoration:none; font-size:18px; "href="#/details/${item.ProductId}/${item.DataAreaId}" title="${item.itemName}">Leértékelt: <b> ${companyGroup.utils.instance().formatNumber(item.SecondHandList.MinimumPrice)} 
                                                {{if Products.Currency == 'HUF'}} Ft 
											{{/if}}
											{{if Products.Currency == 'EUR'}}  € 
											{{/if}}
											{{if Products.Currency == 'USD'}} $
											{{/if}} -tól</b></a>
				                                {{/if}}
                                              </td>
    		                                </tr>
				                            </table>
                                        
                                            {{/if}}
				                        </td>
				                    </tr>
				                </table>
				            </div>
				            <div class="toggle_container" {{if CatalogueOpenStatus}} style="display:block;" {{else}} style="display:none;" {{/if}}>
				                <div class="box">
				                    <table width="695" border="0" cellspacing="0" cellpadding="0">
				                        <tr>
				                            <td valign="top">
				                                <div class="cus_termekkep">
                                                {{if item.PictureId > 0}}
				                                <a class="popupimg" href="#/showPicture/${item.ProductId}/${item.DataAreaId}/${item.ItemName}" title="${item.ItemName}"><img src="${companyGroup.utils.instance().getPictureUrl(item.PictureId)}" alt="${companyGroup.utils.instance().getPictureUrl(item.PictureId)}" /></a>
				                                {{else}}
				                                <img src="@Url.Content("~/Content/Media/images/nopic.jpg")" width="180" height="134" alt="" />
                                                {{/if}}
				                                </div>
                                            </td>
				                            <td valign="top" class="cus_prod_table_middle_cell">
				                                <div class="cus_prod_table_desc">
											    <b>Leírás:</b>${item.Description}
											    </br> 
											    </br>
											    <b>Állapot:</b>${item.StatusDescription}
											    </div>
                                            </td>
				                            <td align="right" valign="top" >
				                                <table width="200" border="0" cellspacing="1" cellpadding="2">
				                                <tr>
				                                    <td valign="top">
                                                    {{if Visitor.IsValidLogin}}
				                                        <div class="cus_teteladatok_2">
                                                        <strong>Ez a termék újonnan<br/>már nem rendelhető.</strong>
													    <br/>
													    <br/>
												     </div>
                                                        <div class="cus_teteladatok">
				                                        </div>
                                                    {{/if}}

				                                    </td>
				                                </tr>
				                                </table>
                                            </td>
				                        </tr>
				                    </table>
                                   </div>
                                </div>
<table width="695px" border="0" cellspacing="1" cellpadding="0" class="expand_heading_table2">
				            <tr>
				                <td nowrap="nowrap">
				                    <div style="float:left;" class="cus_prod_table_morelink">
				                        <a href="#/details/${item.ProductId}/${item.DataAreaId}" title="Részletes termékadatlap ${item.ItemName} ${companyGroup.utils.instance().getProductDetailsUrl(item.ProductId)}">Részletes adatlap</a>
				                    </div>
                                    				                    <div id="price_used">
				                        <a style="text-decoration:none; color:#333;" href="#/details/${item.ProductId}/${item.DataAreaId}" title="Részletes termékadatlap ${item.ItemName} ${companyGroup.utils.instance().getProductDetailsUrl(item.ProductId)}">Leértékelt termék részletek</a>
				                    </div>
                                </td>
                                </tr>
                            </table>
                        {{/if}}
                        {{/each}}
                        </script>

                    </div>
                    @*</div>*@

			        @*alsó lapozó*@
                    <div id="cus_list_order_panel2" class="cus_list_order_panel" style="float:left">
			        <div id="div_pager_bottom"></div>
                    </div>
                    <script id="pagerTemplateBottom" type="text/x-jquery-tmpl">
                        <table width="100%" align="center" border="0" cellpadding="3" cellspacing="1">
					    <tr>
                            <td nowrap="nowrap" width="100%">Eredmény: <b>${ListCount}</b></td>
                            <td align="center" width="100%">
                            
							<table width="100px" style="font-size:10px;" border="0" align="center" cellpadding="2" cellspacing="0">
							<tr>
    						<td> {{if Pager.FirstEnabled}} <a style="letter-spacing:-3px; text-decoration:none; color:#999;" href="#/firstPage">◄◄</a> {{else}}{{/if}} </td>
    <td> {{if Pager.PreviousEnabled}} <a style="text-decoration:none; color:#999;" href="#/previousPage/${Pager.PreviousPageIndex}">◄</a> {{else}}{{/if}} </td>
    <td align="center"><select name="select_pageindex_bottom" id="select_pageindex_bottom">

				                {{each( i, item ) Pager.PageItemList}}
				                {{if item.Selected }}
				                <option value="${item.Index}" selected="selected">${item.Value}</option>
				                {{else}}
				                <option value="${item.Index}">${item.Value}</option>
				                {{/if}}
				                {{/each}}
				                </select>
                            </td>
						    <td align="center">/</td>
    <td align="center"><span style="font-size:13px;" id="spanTopLastPageIndex"><b>${Pager.LastPageIndex}</b></span></td>
    <td align="right"> {{if Pager.NextEnabled}} <a style="text-decoration:none; color:#999;" href="#/nextPage/${Pager.NextPageIndex}">►</a> {{else}}
      {{/if}} </td>
    <td align="right"> {{if Pager.LastEnabled}} <a style="letter-spacing:-3px; text-decoration:none; color:#999;" href="#/lastPage">►►</a> {{else}}
      {{/if}} </td>
  </tr>
</table>

                            </td>
                            <td nowrap="nowrap">Elemek száma:</td>
                            <td align="right">
                            <select id="select_visibleitemlist_bottom">
                            {{each( i, visibleitem ) Pager.VisibleItemList}}
                            {{if visibleitem.Selected }}
                                <option value="${visibleitem.Value}" selected="selected">${visibleitem.Value}</option>
                            {{else}}
                                <option value="${visibleitem.Value}">${visibleitem.Value}</option>
                            {{/if}}
                            {{/each}}
                            </select></td>
					    </tr>
				    </table>
                    </script>            
                    @*részletes adatlap*@
                    <div id="cus_productdetails_table">
                    </div>
                    <input type="hidden" id="hidden_product_id" value="" />
                    <input type="hidden" id="hidden_product_dataareaid" value="" />
                    <script id="productDetailsTemplate" type="text/x-jquery-tmpl">
					<table style="padding:8px; font-size: 18px;" width="100%" border="0">
                    <tr>
                        <td valign="top" id="cus_prod_table_middle_cell"><span class="cus_prod_table_item_name">${Product.ItemName}</span><span class="cus_prod_table_item_code"> <br/>  ${Product.ProductId}</span></td>

                      </tr>
                    </table>
                        <table width="100%" border="0" cellspacing="1" cellpadding="1">
							<tr>
								<td valign="top">
								<div id="cus_termekkep">
                                    {{if Product.Pictures.Items.length > 0}}
                                        {{each( i, item ) Product.Pictures.Items}}
                                        <a class="popupimg" href="#/showPicture/${Product.ProductId}/${Product.DataAreaId}/${Product.ItemName}" title="${Product.ItemName}">
                                        <img src="${companyGroup.utils.instance().getBigPictureUrl(item.Id)}" alt="companyGroup.utils.instance().getBigPictureUrl(item.Id)" /></a>
                                        <br/>
                                        {{/each}}
                                    {{else}}
                                        <img src="@Url.Content("~/Content/Media/images/nopic.jpg")" width="100" height="94" alt="" />
                                    {{/if}}
								</div></td>
								<td valign="top" id="cus_prod_table_middle_cell">
								<div id="cus_prod_table_desc_full">
                                    <span>Gyártó:</span><strong> ${Product.Manufacturer.Name} </strong><br/><br/>
									<span>Jelleg1:</span><strong> ${Product.FirstLevelCategory.Name} </strong><br/>
                                    <span>Jelleg2:</span><strong> ${Product.SecondLevelCategory.Name} </strong><br/>
                                    <span>Jelleg3:</span><strong> ${Product.ThirdLevelCategory.Name} </strong><br/><br/>
                                    <span><strong>Cikkszám:</strong></span> ${Product.PartNumber}<br/><br/>
                                    <span><strong>Leírás:</strong></span><br>${Product.Description}<br/> 
									<br />
                                    {{if Visitor.IsValidLogin}}
                                        {{if Product.SecondHandList.Items.Count > 0}} <span>Leértékelt</span> <br/> {{/if}}  <!-- ha a cikk van a hasznalt, borze... listaban -->  
                                        {{if Product.IsInNewsletter}} <span>hírlevél akciós</span> <br/>  {{/if}}          <!-- ha a cikk hírlevél akciós -->
                                        <span>Garancia módja:</span><strong> ${Product.GarantyMode} </strong><br/>
                                        <span>Garancia ideje:</span><strong> ${Product.GarantyTime} </strong><br/>
 
                                         {{if Product.EndOfSales}} <span><strong>Kifutó termék</strong></span><br/>  {{/if}}                        
                                         {{if Product.New}} <span><strong>Új</strong></span><br/>   {{/if}}                                  
                                    {{/if}} 
   								</div></td>
								<td valign="top" nowrap="nowrap">
                                {{if Visitor.IsValidLogin}}
								<table width="130" border="0" cellspacing="1" cellpadding="2">
								  <tr>
										<td nowrap="nowrap">
										<span style="font-size:24px; padding:5px;" class="price">Ár: <strong> ${companyGroup.utils.instance().formatNumber(Product.Price)}</strong>
                                        	{{if Product.Currency == 'HUF'}} Ft 
											{{/if}}
											{{if Product.Currency == 'EUR'}}  € 
											{{/if}}
											{{if Product.Currency == 'USD'}} $
											{{/if}}
											</span>
											<br><br>
											
										{{if Product.SecondHandList.Items.length > 0 && Visitor.IsValidLogin}}
                                        <span class="price_used" style=" text-decoration: none; font-size:14px; color:#FFF; padding:3px;" >Leértékelt:<strong> ${Product.SecondHandList.MinimumPrice} </strong>

                                        
                                            {{if Product.Currency == 'HUF'}} Ft 
											{{/if}}
											{{if Product.Currency == 'EUR'}}  € 
											{{/if}}
											{{if Product.Currency == 'USD'}} $
											{{/if}} -tól</a></span>
                                        {{/if}}
										</td>
									</tr>
                                    <tr>
										<td>&nbsp;</td>
									</tr>

                                    <tr>
									<td>
                                    <table align="left" width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                        {{if Product.Discount}}
                                                <div class="cus_prod_table_morelink" style="margin-left:15px;"><span class="action"><b>AKCIÓS!<b></span>
                                        {{/if}}</td>
                                        <td align="left">
                                        {{if Product.New}}
                                            <div class="cus_prod_table_morelink" style="margin-left:0px;"><span class="new"><b>ÚJDONSÁG!</b></span></div>
                                        {{/if}}	</td>
                                    </tr>
                                    </table>
                                    </td>
									</tr>
									<tr>
										<td nowrap="nowrap">
                                            <p>{{if Product.IsInStock}}
											        Készleten:<span style="color:green;"><strong> ${Product.StockInfo} db</strong></span>
                                                {{else}}
                                                    {{if Product.PurchaseInProgress}}
				                                        <span>Várható érkezés: <b>${Product.ShippingInfo}</b></span>
                                                    {{else}}
				                                        <span><b>Rendelhető</b></span>
                                                    {{/if}}
                                                {{/if}}                                            
                                                </p>
                                            </td>
									</tr>
                                    </table>
									{{if Product.Available}}
                                    <form action="#/addLineToShoppingCart" method="post">
                                    <table align="left" border="0" cellpadding="5" cellspacing="1">
					                    <tr>
                                            <td align="right">
                                            <div class="cus_prod_table_quantity">
                                            <input type="text" name="txt_quantity" class="number" size="2" value="1" /><span> db</span>
                                            </div>
                                            </td>
                                            <td align="right" >
                                        <div class="cus_prod_table_basket">
                                        <input type="image" class="basketicon" src="@Url.Content("~/Content/Media/images/basket.png")" alt="kosár" border="0" align="absmiddle" /></div></td>
									    </tr>
								    </table>
                                    <input type="hidden" name="hidden_productid" value="${Product.ProductId}" />
                                    <input type="hidden" name="hidden_stock" value="${Product.Stock}" />
                                    <input type="hidden" name="hidden_endofsales" value="${Product.EndOfSales}" />
                                    <input type="hidden" name="hidden_secondhand" value="0" />
                                    <input type="hidden" name="hidden_dataareaid" value="${Product.DataAreaId}" />
                                    </form>
									{{/if}}
                               {{/if}}
                            </td>
							</tr>
							<tr>
                                <td><a style="text-decoration:none; color:#084385;" href="#/backtolist"><strong>◄ Vissza a listára</strong></a></td>
                            </tr>
						</table>
						<br/>
						@*tabok*@
						<div id="wrapper">
							<ul class="tabs">
								 <li>
					 {{if ReverseCompatibleProducts.length  === 0}}
									<a href="#" {{if Product.SecondHandList.Items.length === 0 && ReverseCompatibleProducts.length === 0 }}class="defaulttab"{{/if}} rel="tabs1">Kellékanyagok</a>
									{{/if}}
								</li> 
								<li>
								{{if ReverseCompatibleProducts.length  > 0}}
									<a href="#" {{if ReverseCompatibleProducts.length > 0 && CompatibleProducts.length === 0 }}class="defaulttab"{{/if}} rel="tabs2">Józsi kitalálja majd! :)</a>
								{{/if}}
								</li>
								<!--li>
									<a href="#" rel="tabs3">Legnépszerűbb párosítások</a>
								</li>-->
                                {{if Product.SecondHandList.Items.length > 0}}
                                <li>
									<a href="#" {{if Product.SecondHandList.Items.length > 0}}class="defaulttab"{{/if}} rel="tabs4">Leértékelt</a>
								</li>
                                {{/if}}
							</ul>
							<div class="tab-content" id="tabs1">
                            {{if CompatibleProducts.length > 0}}
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="333"><strong>Azonosító név</strong></td>
                                    <td width="115">{{if Visitor.IsValidLogin}}<strong>Készlet</strong>{{/if}}</td>
                                    <td width="114">{{if Visitor.IsValidLogin}}<strong>Ár:</strong>{{/if}}</td>
                                    <td width="90"><strong>&nbsp;</strong></td>
                                </tr>
                                </table>
								<br/>
                                {{each( i, item ) CompatibleProducts}}
                                <form action="#/addLineToShoppingCart" method="post">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="333"><a href="#/details/${item.ProductId}/${item.DataAreaId}">${item.ProductId} ${item.ItemName}</a></td>
                                    <td width="115">{{if Visitor.IsValidLogin}}${item.Stock} db{{/if}}</td>
                                    <td width="115">{{if Visitor.IsValidLogin}}<strong>${item.Price}</strong>                                       	
                                            {{if Product.Currency == 'HUF'}} Ft 
											{{/if}}
											{{if Product.Currency == 'EUR'}}  € 
											{{/if}}
											{{if Product.Currency == 'USD'}} $
											{{/if}}
                                        {{/if}}</td>
                                    <td width="90">
                                    <input type="hidden" value="${item.ConfigId}">
                                    <input type="hidden" name="hidden_productid" value="${item.ProductId}" />
                                    <input type="hidden" name="hidden_stock" value="${item.Stock}" />
                                    <input type="hidden" name="hidden_endofsales" value="${item.EndOfSales}" />
                                    <input type="hidden" name="hidden_secondhand" value="0" />
                                    <input type="hidden" name="hidden_dataareaid" value="${item.DataAreaId}" />
                                    {{if Visitor.IsValidLogin}}
                                    <input type="text" name="txt_quantity" class="number" size="2" value="1" />db 
                                    <input type="image" class="basketicon" src="@Url.Content("~/Content/Media/images/basket_2.png")" alt="kosár" border="0" align="absmiddle" />
                                    {{/if}}
                                    </td>
                                </tr>
                                </table>
                                </form>
                                {{/each}}
                            {{else}}
                            <span>Nincs megjelenítendő kellékanyag.</span>{{/if}}</div>
							 <div class="tab-content" id="tabs2">
       {{if ReverseCompatibleProducts.length > 0}}
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="333"><strong>Azonosító név</strong></td>
                                    <td width="115">{{if Visitor.IsValidLogin}}<strong>Készlet</strong>{{/if}}</td>
                                    <td width="114">{{if Visitor.IsValidLogin}}<strong>Ár:</strong>{{/if}}</td>
                                    <td width="90"><strong>&nbsp;</strong></td>
                                </tr>
                                </table>
								<br/>
                                {{each( i, item ) ReverseCompatibleProducts}}
                                <form action="#/addLineToShoppingCart" method="post">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="333"><a href="#/details/${item.ProductId}/${item.DataAreaId}">${item.ProductId} ${item.ItemName}</a></td>
                                    <td width="115">{{if Visitor.IsValidLogin}}${item.Stock} db{{/if}}</td>
                                    <td width="115">{{if Visitor.IsValidLogin}}<strong>${item.Price}</strong>                                       	
                                            {{if Product.Currency == 'HUF'}} Ft 
											{{/if}}
											{{if Product.Currency == 'EUR'}}  € 
											{{/if}}
											{{if Product.Currency == 'USD'}} $
											{{/if}}
                                        {{/if}}</td>
                                    <td width="90">
                                    <input type="hidden" value="${item.ConfigId}">
                                    <input type="hidden" name="hidden_productid" value="${item.ProductId}" />
                                    <input type="hidden" name="hidden_stock" value="${item.Stock}" />
                                    <input type="hidden" name="hidden_endofsales" value="${item.EndOfSales}" />
                                    <input type="hidden" name="hidden_secondhand" value="0" />
                                    <input type="hidden" name="hidden_dataareaid" value="${item.DataAreaId}" />
                                    {{if Visitor.IsValidLogin}}
                                    <input type="text" name="txt_quantity" class="number" size="2" value="1" />db 
                                    <input type="image" class="basketicon" src="@Url.Content("~/Content/Media/images/basket_2.png")" alt="kosár" border="0" align="absmiddle" />
                                    {{/if}}
                                    </td>
                                </tr>
                                </table>
                                </form>
                                {{/each}}
                            {{else}}
                            <span>Nincs megjelenítendő kellékanyag.</span>{{/if}}</div>
							</div>
							<div class="tab-content" id="tabs3">
			
							</div>
							<div class="tab-content" id="tabs4">
								<div>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="101"><strong>Készlet</strong></td>
                                        <td width="293"><strong>Állapotleírás</strong></td>
                                        <td width="240"><strong>Ár:</strong></td>
                                        <td width="102"><strong>&nbsp;</strong></td>
                                      </tr>
                                  </table>
								  <br/>
                                {{each( i, item ) Product.SecondHandList.Items}}
                                    <form action="#/addLineToShoppingCart" method="post">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="101">${item.Quantity} db</td>
                                        <td width="293">${item.StatusDescription}</td>
                                        <td width="240">{{if Visitor.IsValidLogin}}<strong>${item.Price} </strong>
                                            {{if Product.Currency == 'HUF'}} Ft 
											{{/if}}
											{{if Product.Currency == 'EUR'}}  € 
											{{/if}}
											{{if Product.Currency == 'USD'}} $
											{{/if}}                                        
                                        {{/if}}</td>
                                        <td width="102">
                                        <input type="hidden" value="${item.ConfigId}">
                                        <input type="hidden" name="hidden_productid" value="${item.ProductId}" />
                                        <input type="hidden" name="hidden_stock" value="${item.Stock}" />
                                        <input type="hidden" name="hidden_endofsales" value="${item.EndOfSales}" />
                                        <input type="hidden" name="hidden_secondhand" value="1" />
                                        <input type="hidden" name="hidden_dataareaid" value="${item.DataAreaId}" />
                                        {{if Visitor.IsValidLogin}}
                                        <input type="text" name="txt_quantity" class="number" size="2" value="1" />db 
                                        <input type="image" class="basketicon" src="@Url.Content("~/Content/Media/images/basket_2.png")" alt="kosár" border="0" align="absmiddle" />
                                        {{/if}}
                                        </td>
                                    </tr>
                                    </table>
                                    </form>
                                {{/each}}
								</div>
							</div>
						</div>	
                    </script>
			        @* ajánlott termékek*@
                    @{Html.RenderPartial("_ProductListBanner", Model.BannerList);}
	            </div>
            </div>
        <div style="display: none;">
               <div id="order_confirm" style="width:550px; padding:10px;">
			   <a class="fancybox-close" href="#/closed"></a>
            <p><div align="center"><h2>Rendelés visszaigazolás</h2></div></p><br />
            <p><strong>Tisztelt Partnerünk!</strong></p>
            <p>Megrendelésüket a következő számú bizonylaton iktattuk :</p>
            <h3><span id="span_hrporderid"></span>
            <span id="span_hrpsecondhandorderid"></span>
            <span id="span_bscorderid"></span>
            <span id="span_bscsecondhandorderid"></span></h3>
            <p><strong>Fontos tudnivaló!</strong></p>
            <p>Rendszerünk az Interneten érkező megrendelések iktatásakor külön bizonylatra rögzíti a termékeket aszerint, hogy a megrendelt termékből a megrendelés pillanatában volt-e szabad raktárkészletünk vagy sem!</p>
            <p>Eszerint megkülönböztetünk:</p>
            <ul>
            <li><strong> Megrendelést</strong> : jelenleg nincs szabad raktárkészlet ebből a termékből. (Ez a bizonylat előjegyezte az árut az önök részére. A rendszer később, az áru beérkezésekor, a megrendelések sorrendjében, automatikusan lefoglalja az árut az önök részére és erről egy értesítő Mail-t is küld!)</li>
            <li><strong>Árufoglalást</strong> : jelenleg van szabad raktárkészletünk ebből a termékből. (Ez a bizonylat lefoglalta az árut az önök részére!)</li>
            </ul>
            <p>A rendszerünk által küldött visszaigazoló e-mail pontosan tájékoztatja Önöket a további teendőkről!</p>
            <p>Ha megrendelésükkel kapcsolatban, bármilyen kérdésük merülne fel keressék TeleSales csoportunkat a (+36 1 )452-4666 telefonszámon, ahol munkatársaink készséggel állnak az önök rendelkezésére!<br />
            Köszönjük megrendelésüket!</p>
            <p><em>HRP Hungary Kft. értékesitési csoportja</em></p><br />    
    </div>
</div>
        @Scripts.Render("~/bundles/webshop")
        @Scripts.Render("~/bundles/easypaginate")
        @section ScriptFiles {
      

        }
        @section ScriptOnReady {
        //console.log('ScriptOnReady section');

        var model = @(Html.Raw(Json.Encode(Model)));
        //console.log(model);

        var searhText = companyGroup.utils.instance().getQuerystringParam('q');
        $('#txt_globalsearch').val(searhText);

        companyGroup.utils.instance().setWebshopBaseUrl('@Url.Content("~/Webshop/")');
        companyGroup.utils.instance().setWebshopBaseApiUrl('@Url.Content("~/api/WebshopApi/")');

        companyGroup.utils.instance().setPictureBaseApiUrl('@Url.Content("~/api/PictureApi/")');


        companyGroup.utils.instance().setStructureBaseApiUrl('@Url.Content("~/api/StructureApi/")');

        companyGroup.utils.instance().setDownloadPriceListUrl('@Url.Content("~/Webshop/DownloadPriceList")');

        companyGroup.utils.instance().setShoppingCartBaseApiUrl('@Url.Content("~/api/ShoppingCartApi/")');

        companyGroup.webshop.run('#/');
    
            $('#berlet').priceFormat({
            prefix: 'R$ ',
            centsSeparator: ',',
            thousandsSeparator: '.'
            });	

			@*kosár toggle*@
			
            $('#szal_adat').hide();
            $('#payment_option').hide();
            $('#order_rest').hide();
            $('.hr1').hide();


            $('.hr2').hide();
            
            $("#kiszallitas").change(function () {
			$('#szal_adat').show("slow");
            $('#payment_option').show("slow");
			$('.cash').fadeOut(500);
			$('.payafter').fadeIn(500);;
            $('.hr1').fadeIn(500);
            
			});
			$("#atvetel").change(function () {

            $('#szal_adat').hide("slow");
            $('#payment_option').show("slow");
			$('.cash').fadeIn(500);
			$('.payafter').fadeOut(500);
            $('.hr1').fadeIn(500);
        	});
            $("#cash").change(function () {
            $('#order_rest').show("slow");
            $('.hr2').fadeIn(500);
			});
            $("#transfer").change(function () {
            $('#order_rest').show("slow");
            $('.hr2').fadeIn(500);
			});
            $("#payadvance").change(function () {
            $('#order_rest').show("slow");
            $('.hr2').fadeIn(500);
			});
            $("#payafter").change(function () {
            $('#order_rest').show("slow");
            $('.hr2').fadeIn(500);
			});
      
           @*kosár toggle vége*@
           

    
    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model.Visitor);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model.Visitor);
  	$('#usermenuContainer').html(usermenuHtml);

            $("#pagerTemplateTop").tmpl(model).appendTo("#div_pager_top");
            $("#pagerTemplateBottom").tmpl(model.Products).appendTo("#div_pager_bottom");

            $("#productTemplate").tmpl(model).appendTo("#div_catalogue");

            $("#shoppingCartSummaryTemplate").tmpl(model).appendTo("#basket_open_button");  

            if (!model.Visitor.IsValidLogin){
                $("#cus_filter_price").hide();
                $("#negyes_szuro").hide();
                
            }
            else {
                $("#cus_checkout_menu").show();
                $("#negyes_szuro").show();            
            }

            $("#shoppingCartHeaderTemplate").tmpl(model).appendTo("#cus_basket_menu");
            $("#shoppingCartLineTemplate").tmpl(model).appendTo("#cus_basket");
              
            $("#deliveryAddressTemplate").tmpl(model.DeliveryAddresses).appendTo("#site_select");   //deliveryAddressContainer
                    
            $("#leasingOptionsContainer").empty();
            $("#leasingOptionsTemplate").tmpl(model.LeasingOptions).appendTo("#leasingOptionsContainer");            

            $("input#hidden_cartId").val(model.ActiveCart.Id);


            $('#hidden_cartopen').val('');

            if (model.ShoppingCartOpenStatus && model.Visitor.IsValidLogin) { 
                $('#basket_panel').show();
            }
            else {
                $('#basket_panel').hide();
            }

            $("#becomePartnerContainer").empty();
            var becomePartnerHtml = Mustache.to_html($('#becomePartnerTemplate').html(), model.Visitor);
            $('#becomePartnerContainer').html(becomePartnerHtml);

            $("#newsletterContainer").empty();
            var newsletterHtml = Mustache.to_html($('#newsletterTemplate').html(), model.Visitor);
            $('#newsletterContainer').html(newsletterHtml);
            //$('body').trigger('selectedPageIndexChanged', {msg: 'hello world!'});

@*            $('.number').spin();
            $('.cartnumber').spin();*@

@*            $("#form_filterbyprice").validate({
                submitHandler: function () {
                    CompanyGroupCms.CatalogueListRequest.PriceFilter = $('#txt_filterbyprice').val();
                    CompanyGroupCms.CatalogueListRequest.PriceFilterRelation = $('#select_filterbyprice').val();
                    CompanyGroupCms.Catalogue.LoadStructure(true, true, true, true);
			        CompanyGroupCms.Catalogue.LoadCatalogue();
                    return false;
                },
                invalidHandler: function (e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
                    } else {

                    }
                },
                //errorLabelContainer: $("#login_errors"),
                rules: {
                    txt_filterbyprice: {
                        required: true
                    }
                },
                messages: {
                    txt_filterbyprice: "A mező kitöltése kötelező!"
                }
            });

            $("#form_filterbynameorpartnumber").validate({
                submitHandler: function () {
                    CompanyGroupCms.CatalogueListRequest.NameOrPartNumberFilter = $('#txt_filterbynameorpartnumber').val();
                    CompanyGroupCms.Catalogue.LoadStructure(true, true, true, true);
			        CompanyGroupCms.Catalogue.LoadCatalogue();
                    return false;
                },
                invalidHandler: function (e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';

                    } else {

                    }
                },
                //errorLabelContainer: $("#login_errors"),
                rules: {
                    txt_filterbynameorpartnumber: {
                        required: true
                    }
                },
                messages: {
                    txt_filterbynameorpartnumber: "A mező kitöltése kötelező!"
                }
            });

            $("#form_financeoffer").validate({

                submitHandler: function () {
                    CompanyGroupCms.ShoppingCart.CreateFinanceOffer();  
                    return false;
                },
                invalidHandler: function (e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
                        $("#financeoffer_errors").html(message);
                        $("#financeoffer_errors").show();
                    } else {
                        $("#financeoffer_errors").hide();
                    }
                },
                //errorLabelContainer: $("#financeoffer_errors"),
                rules: {
                    txt_offername: {
                        required: true
                    }, 
                    txt_offeraddress: {
                        required: true
                    },
                    txt_offerphone : {
                        required: true, 
                        number: true
                    },
                    txt_offerstatnumber: {
                        required: true
                    }
                },
                messages: {
                    txt_offername: "A név kitöltése kötelező!", 
                    txt_offeraddress: "A cím kitöltése kötelező!", 
                    txt_offerphone: "A cím telefonszám kötelező!", 
                    txt_offerstatnumber: "A cégjegyzékszám kitöltése kötelező!"
                }
            });

            //rendelés feladás
            $("#form_createorder").validate({
                submitHandler: function () {
                    CompanyGroupCms.ShoppingCart.CreateOrder();
                    return false;
                },
                invalidHandler: function (e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors > 1 ? 'Az űrlap kitöltése nem megfelelő! (' + errors + ' hiba)' : '';
                    } else {

                    }
                },
                //errorLabelContainer: $("#login_errors"),
                rules: {
                    txt_filterbynameorpartnumber: {
                        required: true
                    }
                },
                messages: {
                    txt_filterbynameorpartnumber: "A mező kitöltése kötelező!"
                }
            });*@
}