
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/16.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/1.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/2.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/3.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/4.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/5.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/6.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/7.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/8.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/9.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/10.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/11.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/12.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/13.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/14.jpg")" alt="" /></div>
<div id="page_banner"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/15.jpg")" alt="" /></div>

<!--div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=asus#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/16.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=dlink#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/1.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=fujitsu#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/2.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=polycom#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/3.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=dell#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/4.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=microsoft win#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/5.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=galaxy#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/6.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=CS6 Design#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/7.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=kaspersky#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/8.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=hp laser#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/9.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=Office Pro#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/10.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=norton#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/11.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=Toshiba Sat#/ target="_blank""><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/12.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=LG#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/13.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=Toshiba Sat#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/14.jpg")" alt="" /></a></div>
<div id="page_banner"><a href="https://www.hrp.hu/Webshop/Index/?q=kyocera#/" target="_blank"><img style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/15.jpg")" alt="" /></a></div>
<div id="page_banner"><form action="#/banner_open"><input type="hidden" value="" name="linkId" ><input type="image" style="max-width:240px;" src="@Url.Content("~/Content/Media/banners/16.jpg")">
</form>
</div-->






