<img style="max-width:240px"  src="@Url.Content("~/Content/Media/banners/win8.png")" alt="" /></p>
<img style="max-width:240px"  src="@Url.Content("~/Content/Media/banners/samsung2.png")" alt="" /></p>
<img style="max-width:240px"  src="@Url.Content("~/Content/Media/banners/dell.png")" alt="" /></p>
<img style="max-width:240px" src="@Url.Content("~/Content/Media/banners/asus_banner.jpg")" alt="" /></p>
<img style="max-width:240px"  src="@Url.Content("~/Content/Media/banners/office.png")" alt="" /></p>
<img style="max-width:240px"  src="@Url.Content("~/Content/Media/banners/samsung.jpg")" alt="" /></p>
<img style="max-width:240px"  src="@Url.Content("~/Content/Media/banners/samsung2.png")" alt="" /></p>

