<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - HRP - BSC WEBSHOP</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")

        @Scripts.Render("~/bundles/head")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("ScriptsInHead", required: false)
    </head>
    <body>
    <!-- -->
    <a name="top" id="top"></a>
    <div class="aside-1" id="layout-wrapper">
		<header id="layout-header" class="group">
			<div id="header">
				<div class="zone zone-header"></div>
			</div>
		</header>
        <!-- alsó felnyíló panel div -->
@*		<div id="bottom_button_open">
			<div id="cus_bottom_content_on">
				<div id="openclose_button"><img src="/Cms/Media/images/openclose.png" alt=""/>
				</div>
				<table align="center" width="970" border="0" cellspacing="1" cellpadding="2">
					<tr>
						<td width="290" nowrap="nowrap" ><strong>###<span style="color:#900;">###</span></strong></td>
						<td width="290" nowrap="nowrap" ><strong>###</strong></td>
						<td width="290" nowrap="nowrap" ><strong>###</strong></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="cus_bottom_panel_on"></div>*@
		<!-- *** alsó felnyíló panel div vége *** -->
		<div id="cus_header1"></div>

        <script id="visitorInfoTemplate" type="text/html">
			<table id="cus_header1_table" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td width="100%">
                    {{#IsValidLogin}}
                        <span>Bejelentkezve:</span> 
                        <strong><span>{{CompanyName}}</span> <span>{{PersonName}}</span></strong>
                        <span>Képviselő:</span>
                        <strong><span>{{Representative.Name}}</span></strong> 
                        <a href="mailto:{{Representative.Email}}">{{Representative.Email}}</a>
                        <strong><span>{{Representative.Phone}}</span></strong>
                        <a id="anchor_signout" href="#/signOut"><strong>&nbsp;|&nbsp;Kijelentkezés</strong></a>
                    {{/IsValidLogin}}
                    {{^IsValidLogin}}
                        <img src="@Url.Content("~/Content/Media/images/login.png")" align="absmiddle" style="margin-right: 5px;" alt="" /><a id="loginwin" href="#/showSignInPanel"><strong>Bejelentkezés </strong></a>
                    {{/IsValidLogin}}
                    </td>
					<td nowrap="nowrap">&nbsp;</td>
					<td nowrap="nowrap">Nyelv&nbsp;</td>
					<td nowrap="nowrap">
                        <strong><a href="#/changeLanguage/{{LanguageId}}"><span id="inverse_language_id" style="background: #900; padding: 2px; margin-right: 10px;">{{#LanguageIsEng}} HU {{/LanguageIsEng}} {{#LanguageIsHun}} EN {{/LanguageIsHun}}</span></a></strong>
                        {{#IsValidLogin}}
                            Pénznem <strong><a href="#/changeCurrency/HUF">
                            {{#CurrencyIsHuf}}
                            <span id="currency_huf" style="background: #900; padding: 2px; margin-right: 2px;">HUF</span>
                            {{/CurrencyIsHuf}}
                            {{^CurrencyIsHuf}}
                            <span id="currency_huf" style="background: #666; padding: 2px; margin-right: 2px;">HUF</span>
                            {{/CurrencyIsHuf}}
                            </a></strong>
                            <strong><a href="#/changeCurrency/EUR">
                            {{#CurrencyIsEur}}
                            <span id="currency_eur" style="background: #900; padding: 2px; margin-right: 2px;">EUR</span>
                            {{/CurrencyIsEur}}
                            {{^CurrencyIsEur}}
                            <span id="currency_eur" style="background: #666; padding: 2px; margin-right: 2px;">EUR</span>
                            {{/CurrencyIsEur}}
                            </a></strong><strong><a href="#/changeCurrency/USD">
                            {{#CurrencyIsUsd}}
                            <span id="currency_usd" style="background: #900; padding: 2px;">USD</span>
                            {{/CurrencyIsUsd}}
                            {{^CurrencyIsUsd}}
                            <span id="currency_usd" style="background: #666; padding: 2px;">USD</span>
                            {{/CurrencyIsUsd}}
                            </a></strong>
                        {{/IsValidLogin}}
                    </td>
				</tr>
			</table>
        </script>

		<!-- </div>  -->
        <div id="cus_header2"></div>
		<div id="cus_content_container">
			<div id="cus_header_navigation_b">
				<table width="100%" border="0" cellspacing="1" cellpadding="5">
					<tr id="cus_header_navigation_b_table">
						<td nowrap="nowrap" id="quickmenuContainer"></td>
                        <script id="quickmenuTemplate" type="text/html">
						<ul id="navmenu">
							<li>
								<div id="cus_speedmenu_text">
									Gyorsmenü
								</div>
								<ul>
                                    {{#IsValidLogin}}
									<li>
										<a href="#/filterByStock/true">Készleten lévő termékek </a>
									</li>
									<li>
										<a href="#/filterByAction/true"><strong>AKCIÓS TERMÉKEK</strong></a>
									</li>
									<li>
										<a href="#/filterByBargain/true"><strong>BÖRZÉS TERMÉKEK</strong></a>
									</li>
									<li>
										<a href="#/filterByNew/true"><strong>Új TERMÉKEK</strong></a>
									</li>
                                    {{/IsValidLogin}}
									<li>
										<a href="#/filterByHrp">HRP termékek +</a>
										<ul>
											<li>
												<a href="#/filterByCategoryHrp/B001">Asztali gépek</a>
											</li>
											<li>
												<a href="#/filterByCategoryHrp/B011">Notebookok</a>
											</li>
											<li>
												<a href="#/filterByCategoryHrp/B008">Monitorok</a>
											</li>
											<li>
												<a href="#/filterByCategoryHrp/B012">Nyomtatók</a>
											</li>
											<li>
												<a href="#/filterByCategoryHrp/C267">Kiegészítők</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#/filterByBsc">BSC termékek +</a>
										<ul>
											<li>
												<a href="#/filterByCategoryBsc/B019">Szoftverek</a>
											</li>
											<li>
												<a href="#/filterByCategoryBsc/C077">Játékvezérlők</a>
											</li>
											<li>
												<a href="#/filterByCategoryBsc/C267">Kiegészítők</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
                        </script>
						<td nowrap="nowrap" id="usermenuContainer">
						</td>
                        <script id="usermenuTemplate" type="text/html">
                        {{#IsValidLogin}}
                        <ul id="usermenu">
							<li>
								<div id="cus_usermenu_text">
									Adatkezelő
								</div>
								<ul>
									<li>
										<a href="@Url.Content("~/Home/Registration")">Adatlap / módosítás</a>
									</li>
									<li>
										<a href="@Url.Content("~/Home/Invoice")">Számlák</a>
									</li>
									<li>
										<a href="@Url.Content("~/Home/SalesOrder")">Megrendelések</a>
									</li>
									<li>
										<a href="@Url.Content("~/Home/ForgetPassword")">Jelszó módosítás</a>
									</li>
								</ul>
							</li>
						</ul>
                        {{/IsValidLogin}}
                        </script>
						<td width="100%" nowrap="nowrap">&nbsp;</td>
						<td align="right" nowrap="nowrap"></td>
						<td width="50%" align="right" nowrap="nowrap"><!-- *** gyorskereső ajánlóval *** -->
                        <form id="form_searchByTextFilter" action="#/searchByTextFilter" method="post">
                            <label class="error" for="txt_globalsearch" style="display:none; color:#900;">A mező kitöltése kötelező</label>
						    <input type="text" class="ui-autocomplete-input" id="txt_globalsearch" size="19" onfocus="if(this.value=='Keresés a termékek között')this.value=''" onblur="if(this.value=='')this.value='Keresés a termékek között'"/>
                            @Html.AntiForgeryToken()
                        </form>
                        </td>
					</tr>
				</table>
			</div>
			<div id="cus_logo_and_pages_menu"><img src="@Url.Content("~/Content/Media/images/hrp_bsc_logo.png")" alt="" />
		        <div id="akcio_badge"><a href="#"><img src="@Url.Content("~/Content/Media/images/akcio_badge.png")" border="0" alt="" /></a></div>
        	    <a href="#top" id="top-link">Top of Page</a>
			    <!-- menü -->
			    <div id="cus_ax_nav">
				    <ul id="navmenu_o">
					    <li>
						    <a href="@Url.Content("~/Webshop/Index")">WEBÁRUHÁZ</a>
					    </li>
					    <li>
						    <a href="@Url.Content("~/Company/Newsletter")">AKCIÓK</a>
						    <ul>
							    <li>
								    <a href="#"><img src="@Url.Content("~/Content/Media/images/menubanner.png")" width="144px" border="0" vspace="4" alt="" /></a>
							    </li>
						    </ul>
					    </li>
					    <li>
						    <a href="@Url.Content("~/Company/Index")">CÉGINFORMÁCIÓ</a>
					    </li>
					    <li>
						    <a href="@Url.Content("~/PartnerInfo/Registration")">PARTNERRÉ VÁLÁS</a>
					    </li>
					    <li>
						    <a rel="nofollow" href="http://www.fixdirect.hu" target="_blank">SZERVIZ</a>
					    </li>
					    <li>
						    <a rel="nofollow" href="@Url.Content("~/Company/Carreer")">KARRIER</a>
					    </li>
				    </ul>
			    </div>
			<!-- menü -->
			</div>
			<!-- ez a div kezdő tag a shop mudul eleje. a catalogue/index.cshtml fájlban van a záró tag -->
			<div id="cus_catalogue_container">
                @* cms Featured
				<div id="layout-featured" class="group">
					Featured
				</div>*@
                @*cms BeforeMain
				<div id="layout-before-main" class="group">
					BeforeMain
				</div>*@

				<div id="layout-main-container">
					<div id="layout-main" class="group">
                        @RenderBody()
					</div>
				</div>

				<div id="layout-after-main" class="group">
					@*cms AfterMain*@
					<table id="cus_copyright" border="0" cellpadding="0" cellspacing="0" width="990" align="center">
						<tbody>
							<tr>
								<td class="cus_copyright_table_small_text" colspan="2" align="center"><a href="#">felhaszn&aacute;l&aacute;si felt&eacute;telek</a> &bull; <a href="#">adatv&eacute;delmi nyilatkozat</a> &bull; <a href="#">sz&aacute;ll&iacute;t&aacute;si &eacute;s fizet&eacute;si felt&eacute;telek</a> &bull; <a href="#">vissz&aacute;ru felt&eacute;telek</a> &bull; <a href="#">garancia &eacute;rv&eacute;nyes&iacute;t&eacute;se</a> &bull; <a href="#">v&aacute;s&aacute;rl&aacute;s a web&aacute;ruh&aacute;zban</a>
								<hr />
								</td>
							</tr>
							<tr>
								<td>k&eacute;p helye</td>
								<td class="cus_copyright_table_small_text" align="center">Az &aacute;rak az &Aacute;F&Aacute;-t nem tartalmazz&aacute;k &eacute;s a mindenkori doll&aacute;r, illetve euro &aacute;rfolyam f&uuml;ggv&eacute;ny&eacute;ben v&aacute;ltozhatnak. Az akci&oacute;k a felt&uuml;ntetett időpontig, illetve visszavon&aacute;sig &eacute;rv&eacute;nyesek. Az &aacute;rv&aacute;ltoztat&aacute;s jog&aacute;t fenntartjuk. Az oldal tartalm&aacute;nak felhaszn&aacute;l&aacute;s&aacute;hoz, m&aacute;sol&aacute;s&aacute;hoz az oldal tulajdonos&aacute;nak enged&eacute;lye sz&uuml;ks&eacute;ges. &copy;2002-2011 HRP Hungary Kft. Minden jog fenntartva.</td>
							</tr>
						</tbody>
					</table>
				</div>
                @*cms Tripel
				<div id="layout-tripel-container">
					<div id="layout-tripel" class="group">
						<div id="tripel-first">
							Tripel
						</div>
						<div id="tripel-second">
							Tripel
						</div>
						<div id="tripel-third">
							Tripel
						</div>
					</div>
				</div>*@

				<div id="layout-footer" class="group">
					<footer id="footer">
@*                        cms FooterQuad
						<div id="footer-quad" class="group">
                            <div id="footer-quad-first">
								FooterQuadFirst
							</div>
                            <div id="footer-quad-second">
								FooterQuadSecond
							</div>
							<div id="footer-quad-third">
								FooterQuadThird
							</div>
							<div id="footer-quad-fourth">
								FooterQuadFourth
							</div>
						</div>*@
						<div id="footer-sig" class="group">
							<div class="zone zone-footer">   
                                <div class="user-display">
                                    <span class="user-actions"></span>
                                </div>
                            </div>
						</div>
					</footer>
				</div>
			</div>
			<!-- Kosár impor ablak -->
			<div style="display: none;">
                <div id="import_basket_list_win">
				<form id="basketlist_import" name="basketlist_import" enctype="multipart/form-data" method="post" action="#/importShoppingCart">
				  <strong>Lista fájl importálása kosárba</strong><br /><br />
				  <table border="0" cellspacing="3" cellpadding="10">
				    <tr>
				      <td>Fájl kiválasztása</td>
				      <td><input type="file" name="import_basket_file" id="import_basket_file" /></td>
				    </tr>
				    <tr>
				      <td>Kosár elnevezése</td>
				      <td><input type="text" size="32" name="import_basket_name" id="import_basket_name" disabled="disabled" /></td>
				    </tr>
				    <tr>
				      <td>&nbsp;</td>
				      <td><input type="submit" name="button" id="button" value="Feltöltés indítása" /></td>
				    </tr>
				  </table>
				</form>
			    </div>
			</div>

			<!-- új telephely hozzáadása ablak -->
			<div style="display: none;">
                <div id="add_new_site">
				    <form id="form_add_site" action="#/addSite" enctype="multipart/form-data" method="post" >
				      <strong>Telephely hozzáadása</strong><br /><br />
                      <div id="add_site_errors"></div>
				      <table border="0" cellspacing="3" cellpadding="10">
				        <tr>
				          <td>Irányítószám</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_zipcode" />
                          <label class="error" for="txt_site_irsz" style="display:none; color:#900;">Az irányítószám megadása kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>Ország</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_country" />
                          <label class="error" for="txt_site_irsz" style="display:none; color:#900;">Az ország megadása kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>Város</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_city" />
                          <label class="error" for="txt_site_irsz" style="display:none; color:#900;">A város megadása kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>Utca</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_street" />
                          <label class="error" for="txt_site_irsz" style="display:none; color:#900;">Az utca megadása kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>Házszám</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_house" />
                          <label class="error" for="txt_site_irsz" style="display:none; color:#900;">A házszám megadása kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>&nbsp;</td>
				          <td><input type="submit" value="Telephely mentése" /></td>
				        </tr>
				      </table>
				    </form>
			    </div>
			</div>
			
			<!-- kosár mentése ablak -->
			<div style="display: none;">
                <div id="save_basket_win">
				    <form id="form_savecart" enctype="multipart/form-data" method="post" action="#/saveShoppingCart">
				      <strong>Kosár mentése</strong><br /><br />
                      <div id="savecart_errors"></div>
				      <table border="0" cellspacing="3" cellpadding="10">
				        <tr>
				          <td>Kosár elnevezése</td>
				          <td><input type="text" size="32" name="txt_cartname" id="txt_cartname" />
                          <label class="error" for="txt_cartname" style="display:none; color:#900;">A kosárnév kitöltése kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>&nbsp;</td>
				          <td><input type="submit" value="Kosár mentése" /></td>
				        </tr>
				      </table>
				    </form>
			    </div>
			</div>
			
			<!-- bejelentkezés ablak -->
			<div style="display: none;">
				<div id="div_login">
                    <form action="#/signin" id="form_login" method="post">                    
                    <div id="login_errors"></div>
					<table width="470" border="0" align="center" cellpadding="10" cellspacing="1" >
						<tr>
							<td colspan="2" nowrap="nowrap"><h3>Bejelentkezés regisztrált partnereink részére</h3></td>
						</tr>
						<tr>
							<td>Felhasználónév</td>
							<td><input id="txt_username" name="txt_username" style="padding:5px; width:200px; border:1px #bbb solid; border-radius:5px;" type="text" />
							<br />
							<br />
							<label class="error" for="txt_username" style="display:none; color:#900;">A felhasználónév kitöltése kötelező</label></td>
						</tr>
						<tr>
							<td>Jelszó</td>
							<td><input id="txt_password" name="txt_password" style="padding:5px; width:200px; border:1px #bbb solid; border-radius:5px;" type="password" />
							<br />
							<br />
							<label class="error" for="txt_password" style="display:none; color:#900;">A jelszó kitöltése kötelező</label></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
							<input type="submit" value="Belépés" style="border-radius: 5px;" />
							</td>
						</tr>
					</table>
					<table width="470" border="0" align="center" cellpadding="10" cellspacing="0" style="background:#333; color:#999; " >
						<tr>
							<td width="100%"><a href="#/forgetPassword" style="color:#fff; text-decoration: none;">Elfelejtett jelszó</a></td>
							<td align="right" nowrap="nowrap"> Még nem partnerünk? <a href="@Url.Content("~/Registration/Index")" style="color:#fff; text-decoration: none;">Regisztráljon!</a></td>
						</tr>
					</table>@Html.AntiForgeryToken()
                    </form>				
                </div>
			</div>
    </div>

    <!-- -->
    <script type="text/javascript">
        head.js('@Scripts.Url("~/bundles/jquery")', function() {
            head.js('@Scripts.Url("~/bundles/jqueryui")')
                .js('@Scripts.Url("~/bundles/jqueryval")')
                .js('@Scripts.Url("~/bundles/chosen")')
                //.js('@Scripts.Url("~/bundles/autocomplete")')
                .js('@Scripts.Url("~/bundles/fileupload")')
                .js('@Scripts.Url("~/bundles/floatingmessage")')
                .js('@Scripts.Url("~/bundles/fancybox")')
                .js('@Scripts.Url("~/bundles/json2")')
                .js('@Scripts.Url("~/bundles/tmpl")')
                .js('@Scripts.Url("~/bundles/vegas")')
                .js('@Scripts.Url("~/bundles/mustache")')
                .js('@Scripts.Url("~/bundles/amplify")');

            @RenderSection("ScriptFiles", false)
        });

        head.ready(function() {

            companyGroup.utils.instance().setCustomerBaseApiUrl('@Url.Content("~/api/CustomerApi/")');

            $.vegas({ src: '@Url.Content("~/Content/Media/images/background6.jpg")'});

            $('#preloader').ajaxStart(function () {
                $('#preloader').show();
            }).ajaxStop(function () {
                $('#preloader').hide();
            });

//            $('#loginwin').fancybox({
//                autoDimensions: true,
//                /*width: '40%',
//                height: '60%',*/
//                autoScale: false,
//                transitionIn: 'fade',
//                transitionOut: 'fade',
//                type : 'iframe'
//            });

            @RenderSection("ScriptOnReady", false)
        }); 

        @RenderSection("ScriptsInBottom", false)
    </script>
    </body>
</html>
