<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <title>@ViewBag.Title - HRP - BSC WEBSHOP -</title>
        <link href="~/Content/Media/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<meta content="hu" name="content-language" />
        <meta content="hrp, hrp hungary, nagykereskedelem, webáruház, számítógép, alkatrész, monitor, nyomtató, memória, projektor, szoftver, viszonteladó, legjobb ár, garancia" name="keywords" />
        <meta content="A HRP 1987 óta szereplője a magyar informatikai piacnak, egyike a hazai számítástechnikai disztribúció megteremtőinek....több, mint disztribúció." name="description" />
        <meta name="robots" content="index,follow" /><meta name="revisit-after" content="7 days" />
        <meta name="expires" content="7 days" />
        <meta name="owner" content="HRP Hungary Kft." />
        <meta name="copyright" content="HRP Hungary Kft." /><meta name="publisher" content="HRP Hungary Kft." />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/css")

       @Scripts.Render("~/bundles/modernizr")

@*      @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")         
        @Scripts.Render("~/bundles/sammy")
        @Scripts.Render("~/bundles/sammytitle")
        @Scripts.Render("~/bundles/chosen")
        @Scripts.Render("~/bundles/fileupload")
        @Scripts.Render("~/bundles/floatingmessage")
        @Scripts.Render("~/bundles/fancybox")
        @Scripts.Render("~/bundles/json2")
        @Scripts.Render("~/bundles/tmpl")
        @Scripts.Render("~/bundles/vegas")
        @Scripts.Render("~/bundles/mustache")
        @Scripts.Render("~/bundles/amplify")
        @Scripts.Render("~/bundles/smarttab")
        @Scripts.Render("~/bundles/scrollto")
        @Scripts.Render("~/bundles/toastr")
        @Scripts.Render("~/bundles/prettynumber")
        @Scripts.Render("~/bundles/skinner")
        @Scripts.Render("~/bundles/apputils")
        @Scripts.Render("~/bundles/helpers")*@

        @Scripts.Render("~/bundles/jquery",
                        "~/bundles/jqueryui", 
                        "~/bundles/lib",
                        "~/Scripts/lib/require.js",
                        "~/bundles/app")
    </head>
	<!--[if IE 7 ]> <body class="ie7> <![endif]-->
<!--[if IE 8 ]> <body class="ie8> <![endif]-->
<!--[if gt IE 9]><!--><body><!--<![endif]-->
	<div id="preloader_site">

	<div align="center" id="status">
	<img src="@Url.Content("~/Content/Media/images/ajax-loader.gif")" alt="" /><br/><br/>
	<img src="@Url.Content("~/Content/Media/images/loading_logos.jpg")" alt="" />
	</div>

</div>
    <div class="aside-1" id="layout-wrapper">
		<header id="layout-header" class="group">
			<div id="header">
				<div class="zone zone-header"></div>
			</div>
		</header>
        <!-- alsó felnyíló panel div -->
@*		<div id="bottom_button_open">
			<div id="cus_bottom_content_on">
				<div id="openclose_button"><img style="border-style:none;" src="/Cms/Media/images/openclose.png" alt=""/>
				</div>
				<table align="center" width="970" border="0" cellspacing="1" cellpadding="2">
					<tr>
						<td width="290" nowrap="nowrap" ><strong>###<span style="color:#900;">###</span></strong></td>
						<td width="290" nowrap="nowrap" ><strong>###</strong></td>
						<td width="290" nowrap="nowrap" ><strong>###</strong></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="cus_bottom_panel_on"></div>*@
		<!-- *** alsó felnyíló panel div vége *** -->
		<div id="cus_header1"></div>
        <div id="cus_background"></div>
		<div id="div1"></div>

        <script id="visitorInfoTemplate" type="text/html">
			<table id="cus_header1_table" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td width="100%">
                    {{#IsValidLogin}}
                        <span >Bejelentkezve:</span> 
                        <strong><span id="companyname">{{CompanyName}}</span> <span>{{PersonName}}</span></strong>
                        <span>Képviselő:</span>
                        <strong><span>{{Representative.Name}}</span></strong>
						<span>email:</span>
                        <a href="mailto:{{Representative.Email}}">{{Representative.Email}}</a>                      
						<span>Telefon:</span>
                        <strong><span>{{Representative.Phone}} </span></strong>
						<strong><span>{{#Representative.Mobile}} , {{/Representative.Mobile}}{{Representative.Mobile}}</span></strong>
                        <a style="border-style:none; background: #666; padding:3px; padding-right:6px; margin-left:5px; border-radius:3px;" id="anchor_signout" href="#/signOut"><strong>Kijelentkezés</strong></a>
                    {{/IsValidLogin}}
                    {{^IsValidLogin}}
                        <a id="loginwin"  style="border-style:none; background: #666; padding:3px; padding-right:6px; margin-left:5px; border-radius:3px;" href="#/showSignInPanel"><img  src="@Url.Content("~/Content/Media/images/login.png")" align="absmiddle" alt="" /><strong> Bejelentkezés </strong></a>
						<a id="loginwin"  style="border-style:none; background: #666; padding:3px; padding-right:6px; margin-left:5px; border-radius:3px;" href="@Url.Content("~/Registration/Index")"><strong> Regisztráció </strong></a>
                    {{/IsValidLogin}}
                    </td>
					<td nowrap="nowrap">&nbsp;</td>
					<!--<td nowrap="nowrap">Nyelv&nbsp;</td-->
					<td nowrap="nowrap">
                        <!--<strong><a href="#/changeLanguage/{{InverseLanguageId}}"><span id="inverse_language_id" style="background: #900; padding: 2px; margin-right: 10px;">{{InverseLanguageId}}</span></a></strong-->
                        {{#IsValidLogin}}
                            Pénznem <strong><a href="#/changeCurrency/HUF">
                            {{#CurrencyIsHuf}}
                            <span id="currency_huf" style="background: #900; padding: 2px; margin-right: 2px; border-radius:3px;">HUF</span>
                            {{/CurrencyIsHuf}}
                            {{^CurrencyIsHuf}}
                            <span id="currency_huf" style="background: #666; padding: 2px; margin-right: 2px; border-radius:3px;">HUF</span>
                            {{/CurrencyIsHuf}}
                            </a></strong>
                            <!--strong><a href="#/changeCurrency/EUR">
                            {{#CurrencyIsEur}}
                            <span id="currency_eur" style="background: #900; padding: 2px; margin-right: 2px; border-radius:3px;">EUR</span>
                            {{/CurrencyIsEur}}
                            {{^CurrencyIsEur}}
                            <span id="currency_eur" style="background: #666; padding: 2px; margin-right: 2px; border-radius:3px;">EUR</span>
                            {{/CurrencyIsEur}}
                            </a></strong><strong><a href="#/changeCurrency/USD">
                            {{#CurrencyIsUsd}}
                            <span id="currency_usd" style="background: #900; padding: 2px border-radius:3px;;">USD</span>
                            {{/CurrencyIsUsd}}
                            {{^CurrencyIsUsd}}
                            <span id="currency_usd" style="background: #666; padding: 2px; border-radius:3px;">USD</span>
                            {{/CurrencyIsUsd}}
                            </a></strong-->
                        {{/IsValidLogin}}
                    </td>
				</tr>
			</table>
        </script>

		</div>
        <div id="cus_header2"></div>
		<div id="cus_content_container">
			<div id="cus_header_navigation_b">
			<table border="0" cellspacing="0" cellpadding="4">
					<tr id="cus_header_navigation_b_table">
						
						<td id="usermenuContainer">
						</td>
                        <script id="usermenuTemplate" type="text/html">
                        {{#IsValidLogin}}
                        <ul id="usermenu">
							<li>
								<div id="cus_usermenu_text">
									Adatkezelő
								</div>
								<ul>
									<li>
										<a href="@Url.Content("~/Registration/")">Adatlap / Módosítás</a>
									</li>
									<li>
										<a href="@Url.Content("~/PartnerInfo/#/invoiceinfo/1")">Számlák</a>
									</li>
									<li>
										<a href="@Url.Content("~/PartnerInfo/#/salesorderinfo")">Megrendelések</a>
									</li>
									<li>
										<a href="@Url.Content("~/PartnerInfo/#/changepassword")">Jelszó módosítás</a>
									</li>
								</ul>
							</li>
						</ul>
                        {{/IsValidLogin}}
                        </script>
						<td >
                            <form id="form_searchByTextFilter" action="#/searchByTextFilter" method="post">
                            <div class="inputwrapper">
							<select style="cursor:default;" class="select1">
  							<option value="#">Név vagy cikkszám</option>
							</select> 
                            <label class="error" for="txt_globalsearch" style="display:none; color:#900;">A mező kitöltése kötelező</label>
                            <input style="border: 0px; margin-left:6px; margin-top:4px" type="text" class="" name="txt_globalsearch" id="txt_globalsearch" value="keresés a termékek között" size="27"/>
                            <input type="submit" value="" class="imgClass" />
                            </div>
                            </form>
							<form id="form_searchInFiltered" action="#/searchInFiltered" method="post">
                            <div class="inputwrapper">
							<select style="cursor:default;" class="select1">
  							<option value="#">Keresés a szürésben</option>
							</select> 
                            <label class="error" for="txt_globalsearch_filter" style="display:none; color:#900;">A mező kitöltése kötelező</label>
                            <input style="border: 0px; margin-left:6px; margin-top:4px" type="text" class="" name="txt_globalsearch" id="txt_globalsearch" value="" size="27"/>
                            <input type="submit" value="" class="imgClass" />
                            </div>
                            </form>
						</td>
					</tr>
				</table>
	
			</div>
			<div id="szlogen" >…több, mint <strong>disztribúció</strong></div>
			<div id="cus_logo_and_pages_menu"><a href="@Url.Content("~/Webshop/Index")"><img style="border-style:none;" src="@Url.Content("~/Content/Media/images/hrp_bsc_logo.png")" alt="" /></a>    
				<a href="#" class="scrollup">Lap tetejére</a>
			    <div id="cus_ax_nav">
					 <ul id="menu-bar">
					    <li>
						    <a href="@Url.Content("~/Webshop/Index")">Webáruház</a>
					    </li>
			            <li id="newsletterContainer">
                        </li>
					    <li>
						    <a href="@Url.Content("#")">Céginformáció</a>
							<ul>
							    <li>
								   <a rel="nofollow" href="@Url.Content("~/Company/Index")">Bemutatkozás</a> 
							    </li>
								<li>
								   <a rel="nofollow" href="@Url.Content("~/Company/Contact")">Elérhetőségünk</a> 
							    </li>
								<li>
								   <a rel="nofollow" href="@Url.Content("~/Company/Wastemanagement")">Hulladékkezelés</a> 
							    </li>
						    </ul>
					    </li> 
						<li id="becomePartnerContainer">
					    </li>
						
						 <li>
						    <a rel="nofollow" href="http://www.fixdirect.hu" target="_blank">Szerviz</a>
					    </li>
						    
					    <li>
						    <a rel="nofollow" href="@Url.Content("~/Company/Carreer")">Karrier</a>
					    </li>
						<li>
						    <a rel="nofollow" href="@Url.Content("#/")">Tájékoztató</a>
							<ul>
							    <li>
								   <a href="@Url.Content("~/Company/Guide/#/termOfUse")">felhasználási feltételek</a> 
							    </li>
                                <li>
								   <a href="@Url.Content("~/Company/Guide/#/deliveryAndPaymentOptions")">szállítási és fizetési feltételek</a>
							    </li>
								 <li>
								   <a href="@Url.Content("~/Company/Guide/#/dataProtection")">adatvédelmi nyilatkozat</a> 
							    </li>
								<li>
								   <a href="@Url.Content("~/Company/Guide/#/returnItemConditions")">visszáru feltételek</a>
							    </li>
                                <li>
								   <a href="@Url.Content("~/Company/Guide/#/garantyValidation")">garancia érvényesítése</a>
							    </li>
                                <li>
								   <a href="@Url.Content("~/Company/Guide/#/shoppingInTheWebshop")">vásárlás a webáruházban</a>
							    </li>
						    </ul>
					    </li> 
				    </ul>
					<script id="becomePartnerTemplate" type="text/html">
					{{#IsValidLogin}}
                        <!--a href="@Url.Content("~/Registration/Index")" title="Regisztrációs adatok módosítása">Adatmódosítás</a-->
					{{/IsValidLogin}}
					{{^IsValidLogin}}
					    <!--a href="@Url.Content("~/Registration/Index")" title="Regisztrációs adatok megadása">Partnerré válás</a-->
					{{/IsValidLogin}}
					</script>
                    <script id="newsletterTemplate" type="text/html">
					{{#IsValidLogin}}<a href="@Url.Content("~/Company/Newsletter")">Akciók</a>{{/IsValidLogin}}


				   </script>
			    </div>
			</div>
			<!-- ez a div kezdő tag a shop mudul eleje. a catalogue/index.cshtml fájlban van a záró tag -->
			<div id="cus_catalogue_container">
                @* cms Featured
				<div id="layout-featured" class="group">
					Featured
				</div>*@
                @*cms BeforeMain
				<div id="layout-before-main" class="group">
					BeforeMain
				</div>*@

				<div id="layout-main-container">
					<div id="layout-main" class="group">
                        @RenderBody()
					</div>
				</div>

				<div id="layout-after-main" class="group">
					@*cms AfterMain*@
					
				</div>
                @*cms Tripel
				<div id="layout-tripel-container">
					<div id="layout-tripel" class="group">
						<div id="tripel-first">
							Tripel
						</div>
						<div id="tripel-second">
							Tripel
						</div>
						<div id="tripel-third">
							Tripel
						</div>
					</div>
				</div>*@

				<div id="layout-footer" class="group">
					<footer id="footer">
@*                        cms FooterQuad
						<div id="footer-quad" class="group">
                            <div id="footer-quad-first">
								FooterQuadFirst
							</div>
                            <div id="footer-quad-second">
								FooterQuadSecond
							</div>
							<div id="footer-quad-third">
								FooterQuadThird
							</div>
							<div id="footer-quad-fourth">
								FooterQuadFourth
							</div>
						</div>*@
						<div id="footer-sig" class="group">
							<div class="zone zone-footer">   
                                <div class="user-display">
                                    <span class="user-actions"></span>
                                </div>
                            </div>
						</div>
					</footer>
				</div>
			</div>
			<!-- Kosár impor ablak -->
			<div style="display: none;">
                <div id="import_basket_list_win">
				<form id="basketlist_import" name="basketlist_import" enctype="multipart/form-data" method="post" action="#/importShoppingCart">
				  <strong>Lista fájl importálása kosárba</strong><br /><br />
				  <table border="0" cellspacing="3" cellpadding="10">
				    <tr>
				      <td>Fájl kiválasztása</td>
				      <td><input type="file" name="import_basket_file" id="import_basket_file" /></td>
				    </tr>
				    <tr>
				      <td>Kosár elnevezése</td>
				      <td><input type="text" size="32" name="import_basket_name" id="import_basket_name" disabled="disabled" /></td>
				    </tr>
				    <tr>
				      <td>&nbsp;</td>
				      <td><input type="submit" name="button" id="button" value="Feltöltés indítása" /></td>
				    </tr>
				  </table>
				</form>
			    </div>
			</div>

			<!-- új telephely hozzáadása ablak -->
			<div style="display: none;">
                <div id="add_new_site">
				    <form id="form_add_site" action="#/addSite" enctype="multipart/form-data" method="post" >
				      <strong>Telephely hozzáadása</strong><br /><br />
                      <div id="add_site_errors"></div>
				      <table border="0" cellspacing="3" cellpadding="10">
				        <tr>
				          <td>Irányítószám</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_zipcode" />
                          <label class="error" for="txt_site_irsz" style="display:none; color:#900;">Az irányítószám megadása kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>Ország</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_country" />
                          <label class="error" for="txt_site_irsz" style="display:none; color:#900;">Az ország megadása kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>Város</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_city" />
                          <label class="error" for="txt_site_irsz" style="display:none; color:#900;">A város megadása kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>Utca</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_street" />
                          <label class="error" for="txt_site_irsz" style="display:none; color:#900;">Az utca megadása kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>Házszám</td>
				          <td><input type="text" size="32" name="txt_site_irsz" id="txt_site_house" />
                          <label class="error" for="txt_site_irsz" style="display:none; color:#900;">A házszám megadása kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>&nbsp;</td>
				          <td><input type="submit" value="Telephely mentése" /></td>
				        </tr>
				      </table>
				    </form>
			    </div>
			</div>
			
			<!-- kosár mentése ablak -->
			<div style="display: none;">
                <div id="save_basket_win">
				    <form id="form_savecart" enctype="multipart/form-data" method="post" action="#/saveShoppingCart">
				      <strong>Kosár mentése</strong><br /><br />
                      <div id="savecart_errors"></div>
				      <table border="0" cellspacing="3" cellpadding="10">
				        <tr>
				          <td>Kosár elnevezése</td>
				          <td><input type="text" size="32" name="txt_cartname" id="txt_cartname" />
                          <label class="error" for="txt_cartname" style="display:none; color:#900;">A kosárnév kitöltése kötelező</label>
                          </td>
				        </tr>
				        <tr>
				          <td>&nbsp;</td>
				          <td><input type="submit" value="Kosár mentése" /></td>
				        </tr>
				      </table>
				    </form>
			    </div>
			</div>
			
			<!-- bejelentkezés ablak -->
			<div style="display: none;">
				<div id="div_login">
				<a class="fancybox-close" href="#/closed"></a>
                    <form action="#/signin" id="form_login" method="post"> 
                        <h2>Bejelentkezés</h2>
                        <br />
                        Partnereink az alábbi mezök kitöltésével tudnak bejelentkezni.
                        <br />
                        <br />

                        <div style="margin-top:20px;"><strong>Felhasználónév:</strong></div><div style="margin-top:5px; margin-bottom:5px;"><input id="txt_username" name="txt_username" class="form-login" title="felhasználónév" value="" size="30" maxlength="100" /><br/><label class="error" for="txt_username" style="display:none; color:#900;">A felhasználónév kitöltése kötelező</label></div>

                        <div><strong>Jelszó:</strong></div><div style="margin-top:5px; margin-bottom:5px;"><input id="txt_password" name="txt_password" type="password" class="form-login" title="jelszó" value="" size="30" maxlength="100" /><br/><label class="error" for="txt_password" style="display:none; color:#900;">A jelszó kitöltése kötelező</label></div>
                        <p></p><br />
                          <span class="login-box-options">
                          <input type="checkbox" name="1" value="1" />
                            Emlékezzen rám
                          <a id="forget_password" href="#/showForgetPasswordPanel" style="color:#084385; text-decoration: none; margin-left:30px;"><strong>Elfelejtett jelszó?</strong></a></span>
                          <br />
                          <br />
                          <button type="submit"><!--img style="border-style:none;" src="#" width="103" height="42" style="margin-left:90px;" /-->Belépés</button>
                        <br />
                        <p>Még nem partnerünk? <a href="@Url.Content("~/Registration/Index")" style="color:#084385; text-decoration: none;"><strong>Regisztráljon!</strong></a></p>
                        <div id="login_errors"></div>
                        @Html.AntiForgeryToken() 
                        </form>	
                </div>

            </div>
            <div style="display:none;">
                <div style="width:250px; padding:15px;" id="div_forgetpassword">
                <!--a class="fancybox-close" href="#/closed"></a-->
                <span style="font-size:24px; color:#084385;" ><strong>Jelszóemlékeztető</strong></span><br><br>
                Kérem adja meg felhasználó nevét. A hozzáférési adatait elküldjük a rendszerünkben regisztrált felhasználónévhez tartozó e-mail címre.<br/><br/>
                <strong>Felhasználónév:</strong><br/><br/>
                <form action="#/sendforgetpassword" method="post">
                <input type="text" size="24" name="txt_forgetpassword_username" class="regfields" />
                <input type="submit" value="Küldés" />
                </form>
                <span style="color:#F00" id="forgetPasswordResult"></span><br/><br/>
                Amennyiben továbbra is problémája van a bejelentkezéssel, kérje web adminisztrátorunk segítségét:<br/><br/>
                <strong>Rávai András</strong><br/>
                 Email: aravai@hrp.hu<br/>
                Telefon: +36-1-452-4647<br/><br/>
                <em>Köszönjük. HRP Hungary Kft, BSC Kft. </em>
                </div>
            </div>

    <script language="javascript" type="text/javascript">
        companyGroup.utils.instance().setCustomerBaseApiUrl('@Url.Content("~/api/CustomerApi/")');
        companyGroup.utils.instance().setVisitorBaseApiUrl('@Url.Content("~/api/VisitorApi/")');
        companyGroup.utils.instance().setContactPersonBaseApiUrl('@Url.Content("~/api/ContactPersonApi/")');

        companyGroup.utils.instance().setWebshopBaseUrl('@Url.Content("~/Webshop/")');
        companyGroup.utils.instance().setWebshopBaseApiUrl('@Url.Content("~/api/WebshopApi/")');
        companyGroup.utils.instance().setPictureBaseApiUrl('@Url.Content("~/api/PictureApi/")');
        companyGroup.utils.instance().setNewsletterApiUrl('@Url.Content("~/api/NewsletterApi/")');

        companyGroup.utils.instance().setStructureBaseApiUrl('@Url.Content("~/api/StructureApi/")');
        companyGroup.utils.instance().setDownloadPriceListUrl('@Url.Content("~/Webshop/DownloadPriceList")');
        companyGroup.utils.instance().setShoppingCartBaseApiUrl('@Url.Content("~/api/ShoppingCartApi/")');
    </script>

    @RenderSection("ScriptsInBottom", false)

    <script type="text/javascript">
	$("#form_searchInFiltered").hide();
			if (navigator.cookieEnabled==false)
	{
	$.fancybox('<div align="center" style="width:250px; padding:10px;"><H2>Sütik engedélyezése</H2><p>Kérem engedélyezze a sütiket a böngészőjében a továbblépés érdekében.</p><!--a style="text-decoration:none; color:#FFF;" href="#/closed"><input type="button" value="Bezárás" /></a--></div>', {
                    'autoDimensions': true,
                    'transitionIn': 'elastic',
                    'transitionOut': 'elastic',
                    'closeBtn': 'false',
                    'changeFade': 0,
                    'speedIn': 300,
                    'speedOut': 300,                 
					'width': '150%',
                    'height': '150%',
                    'autoScale': true,
                });
	}

            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollup').fadeIn();
                } else {
                    $('.scrollup').fadeOut();
                }
            });

            $('.scrollup').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 100);
                return false;
            });

            $('#preloader').ajaxStart(function () {
                $('#preloader').fadeIn('100');
            }).ajaxStop(function () {
                $('#preloader').fadeOut('100');
            });


            $(function () {
                $('.select1').skinner({ 'type': 'left' });
            });


            (function ($) {
                var proto = $.ui.autocomplete.prototype,
                    initSource = proto._initSource;

                function filter(array, term) {
                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(term), "i");
                    return $.grep(array, function (value) {
                        return matcher.test($("<div>").html(value.label || value.value || value).text());
                    });
                }

                $.extend(proto, {
                    _initSource: function () {
                        if (this.options.html && $.isArray(this.options.source)) {
                            this.source = function (request, response) {
                                response(filter(this.options.source, request.term));
                            };
                        } else {
                            initSource.call(this);
                        }
                    },

                    _renderItem: function (ul, item) {
                        return $("<li></li>")
                            .data("item.autocomplete", item)
                            .append($("<a></a>")[this.options.html ? "html" : "text"](item.label))
                            .appendTo(ul);
                    }
                });
            })(jQuery);
 
			
          @RenderSection("ScriptOnReady", false) 
		  
			
			$("#status").fadeOut(); // will first fade out the loading animation
            $("#preloader_site").delay(50).fadeOut("slow"); // will fade out the white DIV that covers the website.



    </script>
    </body>

</html>
