@model CompanyGroup.WebClient.Models.Visitor
@{
    ViewBag.Title = "Karrier";
}
@*	<div  id="layout-content" class="group">*@
<div id="content" class="group">
    <div align="center" style="width: 245px; position: absolute; padding-top: 50px; margin-left: 730px;">
        @{Html.RenderPartial("images_carreer");}
    </div>
    <div style="width: 680px; margin-left: 20px; margin-bottom: 0px; text-align: left;"
        id="main_content" class="zone zone-content">
      <div id="actual">
            <h2 class="focim">
                <strong>Aktuális álláslehetőségek</strong><br />
            </h2>
            <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="350" height="38">
                        <strong>Munkakör megnevezése</strong>
                    </td>
                    <td width="150">
                    </td>
                </tr>
            </table>
            <table width="500" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #F7F7F7; border-radius: 3px; padding: 6px; border: 1px solid #CCC; margin-bottom:20px;">
                <tr>
                    <td width="359">
                        <!--a href="#/applyform/Termékmenedzser" style="text-decoration: none;"></a--><strong>Termékmenedzser</strong>
                    </td>
                    <td width="134"><strong></strong></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="Termékmenedzser" style="padding: 6px; display:none">
                            <p><strong>Feladat:</strong></p>
                            <ul type="disc">
                                <li>Képviselt gyártók termékeinek értékesítése, az ahhoz kapcsolódó marketing feladatok ellátása,</li>
                                <li>Új vevők megszerzése, a meglévő kulcsvevők kezelése </li>
                                <li>Folyamatos kapcsolattartás a gyártókkal </li>
                            </ul>
                            <p><strong>Elvárások</strong></p>
                            <ul type="disc">
                                <li>•Termékmenedzseri vagy értékesítési gyakorlat </li>

                                <li>•Pontosság, megbízhatóság</li>
                                <li>•Jó kommunikációs készség</li>
                                <li>•Dinamikus és önálló munkavégzés</li>
                            </ul>
                            <ul type="disc">
                                <li>•Angol nyelv ismerete előnyt jelent </li>
                            </ul>
                            <p><strong>Amit kínálunk:</strong></p>
                            <ul>
                                <li>•Versenyképes jövedelem</li>
                                <li>•Fiatalos, lendületes csapat</li>
                                <li>•Színvonalas munkakörnyezet</li>
                            </ul>
                            <p><strong>Munkavégzés helye: Budapest</strong></p>
                            <p>Amennyiben Ön elhivatottságot érez a pozíció iránt, akkor kérjük, hogy fényképes
                                önéletrajzát a pozíció megjelölésével juttassa el a következő címre: <a href="mailto:karrier@hrp.hu"> karrier@hrp.hu</a></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="359"></td>
                    <td width="134">
                        <a class="anchorLink" href="#/showapplyform/Termékmenedzser" style="text-decoration: none;"><!--strong>Jelentkezési lap</strong--></a>
                    </td>
                </tr>
            </table>
          <p>&nbsp;</p>
          <table width="500" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #F7F7F7; border-radius: 3px; padding: 6px; border: 1px solid #CCC;">
          <tr>
                    <td width="359">
                        <!--a href="#/applyform/Kereskedő" style="text-decoration: none;"></a--><strong>Kereskedő</strong>
                    </td>
                    <td width="134"><strong></strong></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="Kereskedő" style="padding: 6px; display:none">
                            <p>
                                <strong>Feladat:</strong></p>
                            <ul>
                                <li>• Viszonteladókkal való kapcsolattartás<br />
                                    • Vásárlás ösztönző stratégiák kialakítása<br />
                                    • Ügyfelek aktuális információkkal való ellátása<br />
                                    • Rendelések menedzselése<br />
                                    • Értékesítési tervek teljesítése</li>
                            </ul>
                            <p>
                                <strong>Elvárások:</strong></p>
                            <ul>
                                <li>• Az IT piac alapos ismerete<br />
                                    • Általános software/hardware termékismeret<br />
                                    • Értékesítési tapasztalat<br />
                                    • Kereskedői véna, nagy munkabírás, rugalmasság<br />
                                    • Jó kommunikációs képesség, csapatmunkában való aktív részvétel<br>
                                    • Agilis, kreatív személyiség
                                    <br />
                                    • MS Office felhasználói szintű ismerete/</li>
                            </ul>
                            <p>
                                <strong>Amit kínálunk:</strong></p>
                            <ul>
                                <li>• Versenyképes jövedelem</li>
                                <li>• Fiatalos, lendületes csapat</li>
                                <li>• Színvonalas munkakörnyezet</li>
                            </ul>
                            <p>
                            </p>
                            <p>
                                <strong>A munkavégzés helye: Budapest</strong></p>
                            <p>
                                Amennyiben Ön elhivatottságot érez a pozíció iránt, akkor kérjük, hogy fényképes
                                önéletrajzát a pozíció megjelölésével juttassa el a következő címre: <a href="mailto:karrier@hrp.hu">
                                    karrier@hrp.hu</a></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="359"><strong></strong></td>
                    <td width="134"><a class="anchorLink" href="#/showapplyform/Kereskedő" style="text-decoration: none;"><!--strong>Jelentkezési lap</strong--></a></td>
                </tr>
            </table>
      </div>
            <div id="div_applyform" >
                <h2 id="hrp">
                    Jelentkezési lap</h2>
                <p>
                    Örülünk, hogy úgy döntött megtisztel minket bizalmával és jelentkezik cégünkhöz.
                    Kérem, töltse ki az alábbi jelentkezési lap mezőit, majd küldje el részünkre.<br />
                    <strong>Figyelem: a csillaggal megjelölt mezők kitöltése kötelező, ezek hiányában nem
                        fogadhatjuk el jelentkezését!</strong></p>
                <p>
                    A HRP Hungary Kft. garantálja, hogy az Ön adatainak biztonságos tárolása érdekében
                    minden tőle telhetőt megtesz. Az adatkezelési folyamatokat a személyes adatok védelméről
                    szóló, 1992. évi LXIII. törvény által biztosított jogi szabályozás keretei között
                    végezzük. Személyes adatait nem hozzuk nyilvánosságra, és nem továbbítjuk illetéktelen
                    személyeknek. Személyes adatainak védelmét azok anonimizálásával biztosítjuk. Ha
                    ezzel kapcsolatosan bővebb felvilágosításra kíváncsi, kérjük olvassa el adatvédelmi
                    nyilatkozatunkat.</p>
                    <form id="form_applyforjob" action="#/applyforjob" method="post">
                    <table style="background-color: #F7F7F7; border-radius: 3px; padding: 6px; border: 1px solid #CCC;" border="0" align="center" cellpadding="2" cellspacing="1">
                        <tr>
                            <td nowrap="nowrap">
                                <strong>Pozíció </strong>
                            </td>
                            <td align="right" nowrap="nowrap">
                                <select name="select_position" class="regfields" id="select_position">
                                    <option value="Termékmenedzser">Termékmenedzser</option>
                                    <option value="Kereskedő">Kereskedő</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">&nbsp;</td>
                            <td align="right" nowrap="nowrap">&nbsp;</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><strong>Személyi adatok</strong></td>
                            <td align="right" nowrap="nowrap">&nbsp;</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Vezetéknév <span style="color: rgb(255, 0, 0)">*</span></td>
                            <td align="right" nowrap="nowrap">
                                <input type="text" class="regfields" name="txt_firstname" id="txt_firstname" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Keresztnév <span style="color: rgb(255, 0, 0)">*</span>
                            </td>
                            <td align="right" nowrap="nowrap">
                                <input type="text" class="regfields" name="txt_lastname" id="txt_lastname" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Születési hely</td>
                            <td align="right" nowrap="nowrap">
                                <input type="text" class="regfields" name="txt_placeofbirth" id="txt_placeofbirth" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Születési idő <span style="color: rgb(255, 0, 0)">*</span>
                            </td>
                            <td align="right" nowrap="nowrap">
                                <input type="text" name="txt_dayofbirth" class="regfields" id="txt_dayofbirth" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Állandó lakcím <span style="color: rgb(255, 0, 0)">*</span>
                            </td>
                            <td align="right" nowrap="nowrap">
                                <input type="text" class="regfields" name="txt_permanentadress" id="txt_permanentadress" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Ideiglenes lakcím <span style="color: rgb(255, 0, 0)">*</span>
                            </td>
                            <td align="right" nowrap="nowrap">
                                <input type="text" class="regfields" name="txt_temporaryaddress" id="txt_temporaryaddress" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Telefon <span style="color: rgb(255, 0, 0)">*</span>
                            </td>
                            <td align="right" nowrap="nowrap">
                                <input type="text" class="regfields" name="txt_phone" id="txt_phone" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">Email<span style="color: rgb(255, 0, 0)"> *</span>
                            </td>
                            <td align="right" nowrap="nowrap">
                                <input type="text" class="regfields" name="txt_email" id="txt_email" />
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">&nbsp;</td>
                            <td align="right" nowrap="nowrap">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" nowrap="nowrap"><p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p></td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><p>&nbsp;</p>
                              <p><strong>Motivációs levél</strong></p>
                              <p>&nbsp;</p>
                              
                            </td>
                            <td nowrap="nowrap"><textarea cols="45" rows="5" class="regfields" name="txt_message" id="txt_message"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2" nowrap="nowrap">
                                <strong>FONTOS! </strong>
                                <br />
                                Kijelentem, hogy a kérdőív pontjait legjobb tudásom szerint töltöttem ki és a fenti
                                állítások helyesek és teljesek.
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">&nbsp;</td>
                            <td nowrap="nowrap">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" nowrap="nowrap">
                                <input type="checkbox" id="chk_accept" name="chk_accept" />
                                Hozzájárulok hogy a HRP Hungary Kft a referenciáimat leellenőrizze.
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">&nbsp;
                                
                            </td>
                            <td nowrap="nowrap">&nbsp;
                                
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">
                                <label id="label_currentdate">
                                </label>
                            </td>
                            <td nowrap="nowrap">&nbsp;</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><input type="submit" value="Küldés" /></td>
                            <td nowrap="nowrap">&nbsp;</td>
                        </tr>
                        </table>
                    </form>

<div style="position:absolute; left: 51px; top: 566px; height: 92px;">
                    <form id="form_upload" action="@Url.Content("~/Company/UploadApplyDoc")" method="post" enctype="multipart/form-data">
                    <table style="background-color: #F7F7F7; border-radius: 3px; padding: 6px; border: 1px solid #CCC;" border="0" align="center" cellpadding="2" cellspacing="1">

                    <tr>
                        <td nowrap="nowrap">
                            <strong>Önéletrajz csatolása</strong>
                        </td>
                        <td nowrap="nowrap">&nbsp;
                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" nowrap="nowrap">
                            Figyelem! Csak &quot;doc&quot;, &quot;rtf&quot;, illetve &quot;pdf&quot; kiterjesztésű
                            fájlokat fogadunk el!
                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" bgcolor="#FFFFCC">
                            File kiválasztása<span style="color: rgb(255, 0, 0)">*</span>
                        </td>
                        <td nowrap="nowrap" bgcolor="#FFFFCC">
                            <input type="file" name="file" id="file" /><input type="submit" id="btn_upload" value="Feltöltés" />
                        </td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">&nbsp;</td>
                        <td nowrap="nowrap"><span id="span_uploadresult"></span></td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                </form>
                </div>
                <p><span id="span_applyresult"></span></p>
                  <a href="#/vissza"><input type="button" name="button" id="button" value="Vissza"></a>
            </div>
        </div>
    @Scripts.Render("~/bundles/carreer")
    @Scripts.Render("~/bundles/jqueryform")

@section ScriptOnReady {
    companyGroup.utils.instance().setWebshopBaseUrl('@Url.Content("~/Webshop/")'); companyGroup.utils.instance().setWebshopBaseApiUrl('@Url.Content("~/api/WebshopApi/")');

    companyGroup.utils.instance().setPictureBaseApiUrl('@Url.Content("~/api/PictureApi/")');

    companyGroup.utils.instance().setCompanyUrl('@Url.Content("~/Company/")');

    var model = @(Html.Raw(Json.Encode(Model))); 
    //console.log(model); 
    
    companyGroup.carreer.run('#/');

    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model);
    $('#cus_header1').html(visitorInfoHtml); 

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(),model); 
    $('#usermenuContainer').html(usermenuHtml); 
    
    $("#becomePartnerContainer").empty();
    var becomePartnerHtml = Mustache.to_html($('#becomePartnerTemplate').html(), model);
    $('#becomePartnerContainer').html(becomePartnerHtml); 
    
    $("#newsletterContainer").empty();
    var newsletterHtml = Mustache.to_html($('#newsletterTemplate').html(), model); 
    $('#newsletterContainer').html(newsletterHtml);


}
