@model CompanyGroup.WebClient.Models.Visitor
@{
    ViewBag.Title = "Contact";
}

<div id="content" class="group">
		<div align="center" style="width:245px; position:absolute; padding-top:50px; margin-left:730px;">@{Html.RenderPartial("images_contact");}</div> 
<div style="width:680px; margin-left:20px; margin-bottom:0px; text-align:left;" id="main_content" class="zone zone-content">
                                                     
													 
<table width="762" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="26" colspan="3" valign="top"><h2 class="focim">Elérhetőségünk</h2></td>
                  </tr>
                  <tr>
                    <td height="70" valign="top"><img src="~/Content/Media/images/hrp_logo.jpg" width="125" height="68" /></td>
                    <td>&nbsp;</td>
                    <td valign="middle"><img src="~/Content/Media/images/bsc_logo.jpg" width="125" height="45" /></td>
                  </tr>
                  <tr>
                    <td width="42%" height="247" valign="top"><p><strong style="color: #084385; font-size:20px;">HRP Hungary Kft.</strong><br />
                      1033 Budapest, Huszti út 34.<br />
  <br />
                      Adószám: <strong>10490811-2-44</strong><br />
                      Cégjegyzékszám: <strong>Cg.01-09-073874</strong><br />
                      Bankszámlaszám: <strong>10300002-20107680-00003285</strong><br />
  <br />
                      Telefon: + 36 (1) 452 4600<br />
                      Fax: + 36 (1) 350 1351<br />
                      E-mail: <a href="mailto:info@hrp.hu">info@hrp.hu</a><br />
  <br />
                    <strong>Nyitvatartás:</strong><br>
                    <strong>H-P: 8-17h</strong> </p></td>
                    <td width="2%">&nbsp;</td>
                    <td width="56%" valign="top"><p><strong style="color: #084385; font-size:20px;">Business Software Center Kft.</strong><br>
                      1033 Budapest, Huszti út 34.<br>
  <br>
                      Adószám: <strong>11087120-2-41</strong><br>
                      Cégjegyzékszám: <strong>Cg.01-09-663082</strong><br>
                      Bankszámlaszám: <strong>10300002-20354734-00003285</strong><br>
  <br>
                      Telefon: + 36 (1) 452 4690<br>
                      Fax: + 36 (1) 350 1351<br>
                      E-mail: <a href="mailto:info@bsc.hu">info@bsc.hu</a><br>
  <br>
  <strong>Nyitvatartás:</strong><br>
  <strong>H-P: 8-17h</strong></p></td>
                  </tr>
                  </table>
<table width="700" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="319" height="28"><h2><strong>Térkép:</strong></h2></td>
    <td width="17">&nbsp;</td>
    <td width="364" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td valign="top"><iframe width="319" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.hu/maps?f=q&amp;source=s_q&amp;hl=hu&amp;geocode=&amp;q=Budapest,+Huszti+%C3%BAt+34&amp;aq=&amp;sll=47.547248,19.047375&amp;sspn=0.024072,0.038581&amp;ie=UTF8&amp;hq=&amp;hnear=1033+Budapest,+Huszti+%C3%BAt+34&amp;t=m&amp;ll=47.54748,19.043899&amp;spn=0.020277,0.013647&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe></td>
    <td valign="top">&nbsp;</td>
    <td valign="top"><strong>Megközelítés amennyiben az Árpád-híd felől érkezik</strong>.
      <p><strong>Gépjárművel:</strong></p>
      <p>A Szentendrei úton, a barkácsáruháznál forduljon balra a Bogdáni útra, ezt követően a második lámpánál jobbra a Huszti útra.</p>
      <p><strong>Tömegközlekedéssel:</strong></p>
      <p><strong>1-es</strong> villamossal Bécsi út felé <br>
        Árpád híd - Szentlélek tér (5 perc, 2 megálló
        
        ) <br>
        <strong>118-as</strong> busszal Óbuda vasútállomás felé<br>
        Szentlélek tér - Búza utca (5 perc, 4 megálló) </p></td>
  </tr>
  <tr>
    <td height="19" align="center" valign="top"><br></td>
    <td height="19" align="center" valign="top">&nbsp;</td>
    <td height="19" align="center" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td height="73" valign="top"><p>&nbsp;</p>
<p>&nbsp;</p></td>
    <td valign="top">&nbsp;</td>
    <td valign="top"><p>&nbsp;</p></td>
  </tr>
</table>





  </div>
</div>



@section ScriptFiles {
    head.js('@Scripts.Url("~/bundles/sammy")', '@Scripts.Url("~/bundles/sammytitle")', '@Scripts.Url("~/bundles/apputils")', '@Scripts.Url("~/bundles/helpers")', '@Scripts.Url("~/bundles/guide")');

}
@section ScriptOnReady {
    companyGroup.utils.instance().setWebshopBaseUrl('@Url.Content("~/Webshop/")');
    companyGroup.utils.instance().setWebshopBaseApiUrl('@Url.Content("~/api/WebshopApi/")');
    companyGroup.utils.instance().setPictureBaseApiUrl('@Url.Content("~/api/PictureApi/")');

    var model = @(Html.Raw(Json.Encode(Model)));
    //console.log(model);

    companyGroup.guide.run('#/');

	$('a[rel=galeria]').fancybox({
    transitionIn: 'none',
    transitionOut: 'none',
    titlePosition: 'over',
	closeBtn:'true',
    titleFormat: function(title, currentArray, currentIndex, currentOpts){
      return '<span id="fancybox-title-over">Kép: ' + (currentIndex + 1) + ' / ' + currentArray.length +
	      (title.length ? '<br>' + title : '') + '</span>';
    }
  	});
    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model);
  	$('#usermenuContainer').html(usermenuHtml);

    $("#becomePartnerContainer").empty();
    var becomePartnerHtml = Mustache.to_html($('#becomePartnerTemplate').html(), model);
    $('#becomePartnerContainer').html(becomePartnerHtml);

    $("#newsletterContainer").empty();
    var newsletterHtml = Mustache.to_html($('#newsletterTemplate').html(), model);
    $('#newsletterContainer').html(newsletterHtml);
}