@model CompanyGroup.WebClient.Models.Visitor
@{
    ViewBag.Title = "Útmutató";
}

		<div style="width:940px; margin-left:20px; text-align:justify; margin-bottom:20px" id="main_content" class="zone zone-content"> 

            <div id="termOfUse">
              <h2><strong>Felhasználási  feltételek</strong></h2>
              <p><br>
              A  honlapunkra való belépéskor Ön elfogadja az itt leírt feltételeket, abban az  esetben is, ha nem regisztrált partnerünk. A feltételek valamennyi, a  hrp.hu/bsc.hu domain alatt megtalálható oldalra érvényesek. A leírtak  elolvasásának elmulasztása nem képezhet hivatkozási alapot. A feltételek  változtatásának jogát fenntartjuk.</p>
              <p>A <a href="http://www.hrp.hu">www.hrp.hu</a> és <u><a href="http://www.bsc.hu">www.bsc.hu</a></u> oldalak üzemeltetője a HRP Hungary Kft. és a BSC Kft. A honlapon található  oldalak tartalma és funkciói a HRP Hungary Kft. és BSC Kft. szellemi tulajdonát  képezik. A lap taralmát és/vagy funkcióit részben vagy egészben a tulajdonos  írásbeli engedélye nélkül tilos felhasználni.<br>
              </p>
              <p>A HRP  Hungary Kft. &nbsp;és BSC Kft. mindent megtesz az oldalain található adatok  pontosságáért, de nem vállal felelősséget az alábbiakért:</p>
              <ul type="disc">
                <li>a honlapon található adatok helyességéért és az ezek felhasználásából       eredő károkért, </li>
                <li>a webáruház használati útmutatójában található esetleges tévedésekért, </li>
                <li>az oldalunkról linkekkel elérhető további oldalak tartalmáért. </li>
              </ul>
              <p><strong>Webáruház</strong> </p>
              <p>A webáruház használata feltételezi az internet korlátainak ismeretét és  elfogadását, különös tekintettel a sebességre és az esetlegesen felmerülő  hibákra. A webáruházban a vásárlási feltételek, a termékek és az árak  változtatásának jogát fenntartjuk. </p>
<p><strong>Védjegyek, védett nevek</strong> </p>
              <p>Az oldalon felhasznált védjegyek és védett nevek az azokat megillető cégek  tulajdonát képezik.<br>
              A jogosulatlan felhasználás büntető- és polgári jogi következményeket von maga  után. A HRP Hungary Kft. és a BSC Kft. követelheti a jogsértés abbahagyását és  kárának megtérítését. Minden jogi vonatkozásban a magyar törvények az  irányadóak.</p>
              <p>További kérdések, panaszok kezelésében a HRP Hungary Kft. és BSC Kft. web  adminisztrátora nyújt tájékoztatást: <a href="mailto:webadmin@hrp.hu">webadmin@hrp.hu</a></p>
          </div>
        
<div id="dataProtection">
  <h2><strong>Adatvédelmi nyilatkozat</strong></h2>
  <p>A HRP  Hungary Kft és a BSC Kft., mint a <a href="https://www.hrp.hu">www.hrp.hu</a> és <a href="http://www.bsc.hu">www.bsc.hu</a> oldal üzemeltetője ezúton  kijelenti, hogy tiszteletben tartja a személyes adatok védelméhez fűződő  alkotmányos alapjogot.<br>
    <br>
    Működése során a felhasználótól tudomására jutott információk megszerzése és  feldolgozása során a következő törvények, rendeletek és ajánlások betartásával  és figyelembe vételével jár el:</p>
  <ul type="disc">
    <li>személyes adatok gépi feldolgozásáról szóló 1998. évi VI. tv.; </li>
    <li>a személyes adatok védelméről és a közérdekű adatok nyilvánosságáról       szóló 2011 évi CXII..; </li>
    <li>2003. évi C. törvény törvény az elektronikus hírközlésről</li>
    <li>2001. évi CVIII. törvény az elektronikus kereskedelmi szolgáltatások,       valamint az információs társadalommal összefüggő szolgáltatások egyes       kérdéseiről; </li>
    <li>Polgári Törvénykönyvről szóló 1959. évi IV. törvény ide vonatkozó       rendelkezései </li>
</ul>
  <p>A HRP Hungary Kft.  kötelezettséget vállal arra, hogy a honlap használata közben a látogatókról és  regisztrált felhasználóktól gyűjtött adatokat teljes körű titoktartással  kezeli, harmadik féllel nem osztja meg, nyilvánosságra nem hozza, és nem  tárolja a felhasználó beleegyezése nélkül.<br>
    <br>
    Fenntartja azonban a jogot arra, hogy automatikusan gyűjtsön anonim  információkat oldalainak látogatottságáról, a látogatások számáról és  gyakoriságáról, mely információk kizárólag összevontan kerülnek feldolgozásra,  és statisztikai célokat szolgálnak.<br>
    <br>
    A regisztrációs adatok kizárólag a rendelések teljesítését, azok megerősítését,  nyomon követhetőségét szolgálják. A törvényi előírásoknak megfelelően az  érintetteknek, azaz a HRP Hungary Kft. és BSC Kft. regisztrált felhasználóinak  joguk van tájékoztatást kérni adataikról, azokat megváltoztatni, illetve  törölni a rendszerből.<br>
    <br>
    A jogosulatlan személy által történő hozzáférés és nyilvánosságra hozatal  megakadályozása, az adatok pontosságának biztosítása és megőrzése valamint a  teljes körű adatfelhasználás érdekében, a HRP Hungary Kft. és a BSC Kft. a  legmegfelelőbb fizikai, elektronikus és műszaki eszközökkel és módszerekkel  őrzi és biztosítja a felhasználótól tudomására jutott minden információt.<br>
    <br>
    További kérdések, panaszok kezelésében a HRP Hungary Kft. és BSC Kft. web  adminisztrátora nyújt tájékoztatást: <a href="mailto:webadmin@hrp.hu">webadmin@hrp.hu</a></p>
</div>

            <div id="deliveryAndPaymentOptions">
              <h2><strong>Szállítási és fizetési feltételek</strong></h2>
              <p>A  rendelés feladásakor a HRP Hungary Kft. és a BSC Kft. &nbsp;két lehetőséget,  személyes átvételt és házhozszállítást ajánl fel.<br>
                <br>
                <strong>Személyes átvétel</strong> <br>
                <br>
              Válassza ezt az opciót, amennyiben a rendelés során Ön a Huszti úti  raktárunkból személyesen szeretné átvenni a megrendelt termékeket. Ha  gyorsabban szeretne végezni - a rendelés leadásakor, vagy mielőtt áruért jön -  jelezze érkezésének várható időpontját kapcsolattartójánál vagy a Telesales számunkon  (452-4666). Áruja és számlája raktárunkban előkészítve várni fogja! </p>
              <p><strong>Házhozszállítás</strong> <br>
                <br>
                Amennyiben házhozszállítással szeretné megkapni a megvásárolt termékeket  a HRP Hungary Kft.-vel és a BSC Kft.-vel szerződésben lévő futárszolgálatok  egyike juttatja el Önhöz az árut. Nettó 100.000 Ft-os vásárlás felett a  kiszállítási ingyenes. Ez alatt a szállítási költség Magyarország területén  egységes nettó 1.000,- Ft/szállítmány, a szállítmány terjedelmétől függetlenül. Utánvétes fizetési mód esetén az utánvétel díja 550 Ft+Áfa. Külföldi szállítás esetén egyeztessen kapcsolattartójával! Házhozszállítás  esetén az Ön által 16 óráig megrendelt árut a következő munkanapon eljuttatjuk  a megadott címre, melyről email-en előzetes értesítést is küldünk. A fenti  szállítási feltételeken túl, a speciális pro-forma számlás végfelhasználói  szállításra kötött szállítási szerződések esetén az ügyletenkénti bonyolítási  díj 600 Ft+ÁFA.<br>
                <br>
                <strong>Fizetési feltételek</strong></p>
              Minden újonnan regisztrált partnerünk készpénzes vevőként kerül rögzítésre.  Átutalásos fizetéshez szükség van a cége előző évi mérlegére és  eredménykimutatására valamint egy viszonteladói szerződés megkötésére(ha az  addig még nem lenne meg). A fizetési határidőt a leadott dokumentumok alapján  határozzuk meg. Bizonyos esetekben hitelbiztosítót is használunk.<br>
              beállított fizetési feltételek a HRP Hungary KFt-nél és a BSC Kft.-nél  eltérhetnek egymástól!<br>
            A fenti fizetési módokon túl lehetőség van még előre utalásra és kiszállítás  esetén utánvétes fizetési módra is. A Rendelés pontosításakor kérjük egyeztesse  a kívánt fizetési feltételt is kereskedőjével. </div>

            <div id="returnItemConditions">
              <h2><strong>Visszáru feltételek</strong></h2>
              <p><br>
                <strong>A  HRP Hungary Kft  és a BSC Kft. hardver  termékekre vonatkozó visszáru irányelvei:</strong></p>
              <ul>
                <li>1 héten belül a bontatlan termékeket 5%  visszatárolási díj fejében vehetünk vissza </li>
                <li>1 hét után, de max. 2 héten belül a  bontatlan termékeket 10% visszatárolási díj fejében vehetünk vissza </li>
                <li>2 hét után, illetve ha bontott a termék,  csak minimum 10% visszatárolási díj fejében és egyedi megállapodás szerint  vehetünk vissza </li>
              </ul>
              <p>Fenntartjuk a jogot,  hogy a fenti irányelvektől akár pozitív, akár negatív irányban eltérjünk.  Visszavételi garanciát a HRP Hungary Kft. és a BSC Kft. nem vállal.</p>
            </div>

            <div id="garantyValidation">
              <h2><strong>Garancia érvényesítése</strong></h2>
              <p><br>
                A HRP Hungary Kft. és a BSC Kft. által forgalmazott hardver termékekhez  jótállási jegyet bocsát ki, melyen feltüntetésre kerül a jótállás ideje és  módja. A viszonteladó általi értékesítéskor kell a jótállási jegyet  érvényesíteni, kitöltve a vásárlás dátumát és a termék sorozatszámát a  törvényben előírt módon. <br>
                <br>
                Meghibásodás esetén a jótállási jegyen feltüntetett garanciális márkaszervizhez  kell fordulni. A FixDirect Kft., az egyik kiemelt szervizpartnerünk, több  gyártó termékeinek márkaszervize. A szervizelt gyártóinak listáját megtalálja  itt: <a href="http://www.fixdirect.hu">www.fixdirect.hu</a> <br>
                <br>
                A hatályos törvényi előírások szerint termék átadásakor a készülékhez kiadott  jótállási jegy eredeti és szabályosan kitöltött példányát kell bemutatni, ennek  hiányában a vásárlást igazoló számla másolatát. Ezen dokumentumok hiánya esetén  a szerviz csak fizetős javításra tudja átvenni a készüléket.<br>
                <br>
              Amennyiben a javítás során bebizonyosodik, hogy a problémát nem meghibásodás,  hanem a készülék helytelen használata okozta, a megbízó köteles kifizetni a  bevizsgálási díjat. </p>
              <p><strong>Kiemelt szevizpartnerünk adatai:</strong></p>
              <p><strong>FixDirect Kft.</strong><br>
                1033 Budapest,<br>
                Huszti út 34.<br>
                <br>
                <strong>Telefon:</strong> + 36 (1) 452-4670<br>
                <strong>Fax:</strong> + 36 (1) 452-4672<br>
                <br>
                <strong>E-mail:</strong><a href="mailto:szerviz@fixdirect.hu"> szerviz@fixdirect.hu</a><br>
                <strong>Alkatrész rendelés:</strong><a href="mailto:rendeles@fixdirect.hu"> rendeles@fixdirect.hu</a></p>
          </div>

            <div id="shoppingInTheWebshop">
              <h2><strong>Vásárlás a webáruházban</strong></h2>
              <p>A HRP  Hungary Kft. és a BSC Kft. által üzemeltetett közös webáruházunkat olyan  szolgáltatásokkal és keresési megoldásokkal igyekeztünk felépíteni, hogy Ön  minél egyszerűbben megtalálhassa és megvásárolhassa a keresett terméket. A következőkben  egy rövid útmutatóval szeretnénk megkönnyíteni a webáruházunkban folytatott  böngészést és vásárlást.<br>
                <br>
                Ha az  itt leírtak ellenére további probléma merülne fel a webáruház használatát  illetően, kérjük forduljon adminisztrátorunkhoz a <a href="mailto:webadmin@hrp.hu">webadmin@hrp.hu</a> címen.<br>
                <br>
              <strong>Vásárlás menete</strong></p>
              <p>              Csak  regisztrált viszonteladó partnerek vásárolhatnak webáruházunkban. Ön  regisztráció és bejelentkezés nélkül is böngészhet webáruházunk termékei  között. Rendeléshez, azonban be kell lépnie a regisztráció során kapott  felhasználónév és jelszó segítségével. Ha még nem regisztrált, akkor azt a  &quot;Partnerré válás&quot; menüpont alatt teheti meg. A regisztráció ingyenes.  Amennyiben adatai megfelelnek a támasztott követelményeknek, értesíteni fogjuk  Önt partnerré válásáról!<br>
                <br>
              A részletes használathoz az  alábbi rövid videók adnak segítséget:</p>
              <p>Belépés/elfelejtett jelszó/jelszó  módosítás<br>
                Regisztráció/adatmódosítás<br>
                Terméklista/termékadatok<br>
                Szűrés/keresés a webáruházban<br>
                Rendelés a webáruházban<br>
              Számla/megrendelés adatok</p>
              
              </p>
            </div>
        </div>
@Scripts.Render("~/bundles/guide")

@section ScriptOnReady {
    companyGroup.utils.instance().setWebshopBaseUrl('@Url.Content("~/Webshop/")');
    companyGroup.utils.instance().setWebshopBaseApiUrl('@Url.Content("~/api/WebshopApi/")');
    companyGroup.utils.instance().setPictureBaseApiUrl('@Url.Content("~/api/PictureApi/")');

    var model = @(Html.Raw(Json.Encode(Model)));
    //console.log(model);

    companyGroup.guide.run('#/');
	
	 var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model);
  	$('#usermenuContainer').html(usermenuHtml);

    $("#becomePartnerContainer").empty();
    var becomePartnerHtml = Mustache.to_html($('#becomePartnerTemplate').html(), model);
    $('#becomePartnerContainer').html(becomePartnerHtml);

    $("#newsletterContainer").empty();
    var newsletterHtml = Mustache.to_html($('#newsletterTemplate').html(), model);
    $('#newsletterContainer').html(newsletterHtml);
}