@model CompanyGroup.WebClient.Models.Visitor
@{
    ViewBag.Title = "Útmutató";
}

@*	<aside id="aside-first" class="aside-first group">
		<div class="zone zone-aside-first">
            <article class="widget-html-widget widget">
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/site_elements/camp-fair.jpg")" alt="" height="400" width="240" /></p>
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/HtmlWidget/mogyoro.jpg")" alt="" height="400" width="240" /></p>
            </article>
        </div>
	</aside>*@
@*	<div id="layout-content" class="group">*@

    <div id="content" class="group">
		<div id="main_content" class="zone zone-content">

            <div id="termOfUse">
                FELHASZNÁLÁSI FELTÉTELEK
            </div>
        
            <div id="dataProtection">
                ADATVÉDELEM
            </div>

            <div id="deliveryAndPaymentOptions">
                SZÁLLÍTÁSI ÉS FIZETÉSI FELTÉTELEK
            </div>

            <div id="returnItemConditions">
                VISSZÁRU FELTÉTELEK
            </div>

            <div id="garantyValidation">
                GARANCIA ÉRVÉNYESÍTÉSE
            </div>

            <div id="shoppingInTheWebshop">
                VÁSÁRLÁS A WEBÁRUHÁZBAN
            </div>
        </div>
	</div>

	@*	</div>*@

@section ScriptFiles {
    head.js('@Scripts.Url("~/bundles/sammy")', '@Scripts.Url("~/bundles/sammytitle")', '@Scripts.Url("~/bundles/apputils")', '@Scripts.Url("~/bundles/helpers")', '@Scripts.Url("~/bundles/guide")');

}
@section ScriptOnReady {
    console.log('ScriptOnReady section');

    var model = @(Html.Raw(Json.Encode(Model)));
    console.log(model);

    companyGroup.guide.run('#/');

    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model);
  	$('#usermenuContainer').html(usermenuHtml);

    var quickmenuHtml = Mustache.to_html($('#quickmenuTemplate').html(), model);
  	$('#quickmenuContainer').html(quickmenuHtml);


}