@model CompanyGroup.WebClient.Models.Visitor
@{
    ViewBag.Title = "Útmutató";
}

@*	<aside id="aside-first" class="aside-first group">
		<div class="zone zone-aside-first">
            <article class="widget-html-widget widget">
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/site_elements/camp-fair.jpg")" alt="" height="400" width="240" /></p>
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/HtmlWidget/mogyoro.jpg")" alt="" height="400" width="240" /></p>
            </article>
        </div>
	</aside>*@
@*	<div  id="layout-content" class="group">*@

    <div id="content" class="group">
		<div style="width:940px; margin-left:20px; text-align:left; margin-bottom:20px" id="main_content" class="zone zone-content"> <div >

            <div id="termOfUse">
              <h2 class="focim"><a name="guide1" id="guide1"><strong>Felhasználási  feltételek</strong></h2>
              <p><br />
                A honlapunkra való  belépéskor Ön elfogadja az itt leírt feltételeket, abban az esetben is, ha nem  regisztrált partnerünk. A feltételek valamennyi, a hrp.hu/bsc.hu domain alatt  megtalálható oldalra érvényesek. A leírtak elolvasásának elmulasztása nem  képezhet hivatkozási alapot. A feltételek változtatásának jogát fenntartjuk. <br />
                A www.hrp.hu/www.bsc.hu oldalak üzemeltetője a HRP Hungary Kft. és a BSC Kft. A  honlapon található oldalak tartalma és funkciói a HRP Hungary Kft. szellemi  tulajdonát képezik. A lap taralmát és/vagy funkcióit részben vagy egészben a  tulajdonos írásbeli engedélye nélkül tilos felhasználni.<br />
                A HRP Hungary Kft. mindent megtesz az oldalain található adatok pontosságáért,  de nem vállal felelősséget az alábbiakért:</p>
              <ul>
                <li>a honlapon található adatok helyességéért  és az ezek felhasználásából eredő károkért, </li>
                <li>a webáruház használati útmutatójában  található esetleges tévedésekért, </li>
                <li>az oldalunkról linkekkel elérhető további  oldalak tartalmáért. </li>
              </ul>
              <p><strong>Webáruház</strong> <br />
              </p>
              <p>A webáruház használata  feltételezi az internet korlátainak ismeretét és elfogadását, különös  tekintettel a sebességre és az esetlegesen felmerülő hibákra. A webáruházban a  vásárlási feltételek, a termékek és az árak változtatásának jogát fenntartjuk. <br />
              </p>
              <p><strong>Védjegyek,  védett nevek</strong> <br />
              </p>
              <p>Az oldalon felhasznált  védjegyek és védett nevek az azokat megillető cégek tulajdonát képezik.<br />
                A jogosulatlan felhasználás büntető- és polgári jogi következményeket von maga  után. A HRP Hungary Kft. és a BSC Kft. követelheti a jogsértés abbahagyását és  kárának megtérítését. Minden jogi vonatkozásban a magyar törvények az  irányadóak.
<br />
              </p>
          </div>
        
<div id="dataProtection">
                <h2 class="focim"><a name="guide1" id="guide1"><strong>Adatvédelmi  nyilatkozat</strong></h2>
                <p><br />
                  A HRP Hungary  Kereskedelmi Kft, mint a <a href="https://www.hrp.hu">www.hrp.hu</a> oldal üzemeltetője ezúton kijelenti, hogy  tiszteletben tartja a személyes adatok védelméhez fűződő alkotmányos alapjogot.<br />
                  Működése során a felhasználótól tudomására jutott információk megszerzése és  feldolgozása során a következő törvények, rendeletek és ajánlások betartásával  és figyelembe vételével jár el:</p>
                <ul>
                  <li>személyes adatok gépi feldolgozásáról  szóló 1998. évi VI. tv.; </li>
                  <li>a személyes adatok védelméről és a  közérdekű adatok nyilvánosságáról szóló 2011 évi CXII..; </li>
                  <li>2003. évi C. törvény törvény az  elektronikus hírközlésről</li>
                  <li>2001. évi CVIII. törvény az elektronikus  kereskedelmi szolgáltatások, valamint az információs társadalommal összefüggő  szolgáltatások egyes kérdéseiről; </li>
                  <li>Polgári Törvénykönyvről szóló 1959. évi  IV. törvény ide vonatkozó rendelkezései </li>
        </ul>
                <p>A HRP Hungary Kft.  kötelezettséget vállal arra, hogy a honlap használata közben a látogatókról és  regisztrált felhasználóktól gyűjtött adatokat teljes körű titoktartással kezeli,  harmadik féllel nem osztja meg, nyilvánosságra nem hozza, és nem tárolja a  felhasználó beleegyezése nélkül.<br />
                  Fenntartja azonban a jogot arra, hogy automatikusan gyűjtsön anonim  információkat oldalainak látogatottságáról, a látogatások számáról és gyakoriságáról,  mely információk kizárólag összevontan kerülnek feldolgozásra, és statisztikai  célokat szolgálnak.<br />
                  A regisztrációs adatok kizárólag a rendelések teljesítését, azok megerősítését,  nyomon követhetőségét szolgálják. A törvényi előírásoknak megfelelően az  érintetteknek, azaz a HRP Hungary Kft. regisztrált felhasználóinak joguk van  tájékoztatást kérni adataikról, azokat megváltoztatni, illetve törölni a  rendszerből.<br />
                  A jogosulatlan személy által történő hozzáférés és nyilvánosságra hozatal  megakadályozása, az adatok pontosságának biztosítása és megőrzése valamint a  teljes körű adatfelhasználás érdekében, a HRP Hungary Kft. a legmegfelelőbb  fizikai, elektronikus és műszaki eszközökkel és módszerekkel őrzi és biztosítja  a felhasználótól tudomására jutott minden információt.<br />
                  További kérdések,  panaszok kezelésében a HRP Hungary Kft. web adminisztrátora nyújt  tájékoztatást: <a href="mailto:webadmin@hrp.hu">webadmin@hrp.hu</a><br />
            </p>
</div>

            <div id="deliveryAndPaymentOptions">
                <h2 class="focim"><a name="guide1" id="guide1"><strong>Szállítási és fizetési  feltételek</strong></h2>
                <p><br />
                  A rendelés feladásakor a  HRP Hungary Kft. két lehetőséget, személyes átvételt és házhozszállítást ajánl  fel.<br />
  </p>
              <p><strong>Személyes  átvétel</strong></p>
                <p><br />
                  Válassza ezt az opciót,  amennyiben a rendelés során Ön vagy a Véső utcai, vagy a Huszti úti  raktárunkból személyesen szeretné átvenni a megrendelt termékeket. Nagyobb  mennyiségű áru megrendelésekor, vagy ha a leggyorsabban szeretne végezni - a  rendelés leadásakor, vagy mielőtt áruért jön - jelezze érkezésének várható  időpontját kapcsolattartójánál vagy a Telesales számunkon (452-4666). Áruja és  számlája raktárunkban előkészítve várni fogja! <br />
              </p>
              <p><strong>Házhozszállítás</strong></p>
                <p> <br />
                  Amennyiben  házhozszállítással szeretné megkapni a megvásárolt termékeket a HRP Hungary  Kft.-vel szerződésben lévő futárszolgálatok egyike juttatja el Önhöz az árut.  Nettó 100.000 Ft-os vásárlás felett a kiszállítási ingyenes. Ez alatt a  szállítási költség Budapesten belül és Budapesten kívül 1.000,- Ft/szállítmány,  a szállítmány terjedelmétől függetlenül.<br />
                  Házhozszállítás esetén az Ön által 16 óráig megrendelt árut a következő  munkanapon eljuttatjuk a megadott címre, melyről email-en a HRP Hungary Kft.  minden esetben előzetes értesítést is küld. A fenti szállítási feltételeken  túl, a speciális pro-forma számlás végfelhasználói szállításra kötött szállítási  szerződések esetén az ügyletenkénti bonyolítási díj 600 Ft+ÁFA.<br />
              </p>
                <p><strong>Fizetési  feltételek</strong> </p>
                <p><br />
                  Minden újonnan  regisztrált partnerünk készpénzes vevőként kerül rögzítésre. Átutalásos  fizetéshez szükség van a cége előző évi mérlegére és eredménykimutatására valamint  egy viszonteladói szerződés megkötésére. A fizetési határidőt a leadott  dokumentumok alapján határozzuk meg. Bizonyos esetekben hitelbiztosítót is  használunk.<br />
              Amennyiben szeretne átutálással fizetni, kérjük jelezze kapcsolattartójánál  vagy az ügyfélszolgálaton/telesalesnél.
<br />
            </p>
            </div>

            <div id="returnItemConditions">
                <h2 class="focim"><a name="guide1" id="guide1"><strong>Visszáru feltételek</strong></h2>
                <p><br />
                  <strong>A  HRP Hungary Kft  és a BSC Kft. hardver  termékekre vonatkozó visszáru irányelvei:</strong></p>
                <ul>
                  <li>1 héten belül a bontatlan termékeket 5%  visszatárolási díj fejében vehetünk vissza </li>
                  <li>1 hét után, de max. 2 héten belül a  bontatlan termékeket 10% visszatárolási díj fejében vehetünk vissza </li>
                  <li>2 hét után, illetve ha bontott a termék,  csak minimum 10% visszatárolási díj fejében és egyedi megállapodás szerint  vehetünk vissza </li>
              </ul>
                <p>Fenntartjuk a jogot,  hogy a fenti irányelvektől akár pozitív, akár negatív irányban eltérjünk.  Visszavételi garanciát a HRP Hungary Kft. és a BSC Kft. nem vállal.
<br />
            </p>
            </div>

            <div id="garantyValidation">
              <h2 class="focim"><a name="guide1" id="guide1"><strong>Garancia érvényesítése</strong></h2>
                  <p><br />
                    A HRP Hungary Kft. és a BSC Kft. által  forgalmazott hardver termékekhez jótállási jegyet bocsát ki, melyen  feltüntetésre kerül a jótállás ideje és módja. A viszonteladó általi  értékesítéskor kell a jótállási jegyet érvényesíteni, kitöltve a vásárlás  dátumát és a termék sorozatszámát a törvéynben előírt módon. <br />
                    Meghibásodás esetén a jótállási jegyen feltüntetett garanciális márkaszervizhez  kell fordulni. A FixDirect Kft., az egyik kiemelt szervizpartnerünk Több gyártó  termékeinek márkaszervize. </p>
                  <p>A szervizelt gyártóinak listáját megtalálja itt: <a href="http://www.fixdirect.hu">www.fixdirect.hu</a> <br />
                    </p>
                  <p>A hatályos törvényi előírások szerint termék átadásakor a készülékhez kiadott  Jótállási Jegy eredeti és szabályosan kitöltött példányát kell bemutatni, ennek  hiányában a vásárlást igazoló számla másolatát. Ezen dokumentumok hiánya esetén  a szerviz csak fizetős javításra tudja átvenni a készüléket.<br />
                    Amennyiben a javítás során bebizonyosodik, hogy a problémát nem meghibásodás,  hanem a készülék helytelen használata okozta, a megbízó köteles kifizetni a  bevizsgálási díjat.              </p>
                  <p><strong>FixDirect Kft.</strong><br />
                    1033 Budapest,<br />
                    Huszti út 34.<br />
  <br />
  <strong>Telefon:</strong> + 36  (1) 452-4670<br />
  <strong>Fax:</strong> + 36 (1)  452-4672<br />
  <br />
  <strong>E-mail:</strong><a href="mailto:szerviz@fixdirect.hu"> szerviz@fixdirect.hu</a><br />
  <strong>Alkatrész rendelés:</strong><a href="mailto:rendeles@fixdirect.hu"> rendeles@fixdirect.hu</a></p>
                  <p><br />
                  </p>
        </div>

            <div id="shoppingInTheWebshop">
<h2 class="focim"><a name="guide1" id="guide1"></a>Vásárlás a webáruházban</h2>
<p>Webáruházunkat olyan szolgáltatásokkal és keresési megoldásokkal igyekeztünk felépíteni, hogy Ön minél egyszerűbben megtalálhassa és megvásárolhassa a keresett terméket. A következőkben egy rövid útmutatóval szeretnénk megkönnyíteni a webáruházunkban folytatott böngészést és vásárlást. <br />
Ha az itt leírtak ellenére további probléma merülne fel a webáruház használatát illetően, kérjük forduljon adminisztrátorunkhoz a <a href="mailto:webadmin@hrp.hu">webadmin@hrp.hu</a> címen.<br />
<strong>Vásárlás  menete</strong> <br />
Csak regisztrált viszonteladó partnerek vásárolhatnak webáruházunkban. Ön regisztráció és bejelentkezés nélkül is böngészhet webáruházunk termékei között. Rendeléshez, azonban be kell lépnie a regisztráció során kapott felhasználónév és jelszó segítségével. Ha még nem regisztrált, akkor azt a "Partnerré válás" menüpont alatt teheti meg. A regisztráció ingyenes. Amennyiben adatai megfelelnek a támasztott követelményeknek, értesíteni fogjuk Önt partnerré válásáról!
</p>
</p>
<ul type="disc">
  <li>A honlap jobb felső részén léphet be a regisztráció során kapott felhasználónévvel és jelszóval. </li>
  <li>A fenti menüsorban találja a Webáruház menüpontot.</li>
  <li>Ide belépve a navigációs panel segítségével vagy a kulcsszavas kereséssel szűkítheti a terméklistát.</li>
  <li>Terméket a sor végén található kosár gombra kattintva tehet kosárba. Azoknak a termékeknek a sorai, amik már a kosarában vannak eltérő színnel jelennek meg a webáruházban.</li>
  <li>A jobb felső sarokban található "Kosár tartalma" ablakban a sor elején megadhatja hogy a termékből hány db-ot kíván venni. Ez után kattintson a szám mellett megjelenő módosít gombra.</li>
  <li>A termék kosárból való eltávolításához álljon az egérrel a db számra és kattintson az ott megjelenő "Törlés" funkcióra.</li>
  <li>A kosár részletes megtekintéséhez kattintson a jobb felső sarokban lévő kosár alján a "részletes kosár" linkre. </li>
  <li>Itt még módosíthatja vagy törölheti rendelés sorait, megjelölheti, hogy részszállítást engedélyez-e és hogy kér-e kiszállítást és mikorra. Majd kattintson a "Megrendelés elküldése"-re. A rendelés megtörténtéről ezt követően egy visszaigazoló e-mailt kap.</li>
  <li>A Vissza a listára gombbal kiléphetünk a részletes kosárból és tovább keresgélhetünk. Ekkor a kosár tartalma nem változik, megőrzi a kiválasztott termékek adatait és kosárhoz további termékeket adhatunk hozzá a fent leírt módon.</li>
  <li>Rendeléseit nyomon követheti a weboldalunkon is a Partnerinfó/Megrendelések alatt.</li>
  <li>Az áru átvételekor csak a rendszerünkben rögzített, az Ön cége által megadott áru átvevő személy(ek)nek adunk ki árut.</li>
</ul>
<p><strong>Keresés/szűkítés a navigációs panellal</strong> <br />
  Webáruházunkban könnyen megtalálja a keresett terméket a navigációs panel 4 oszlopa szerint: Gyártó, Elsődleges termékjelleg, Másodlagos termékjelleg és Harmadlagos termékjelleg. Az első három közül bármelyikkel kezdheti a terméklista szűkítését. A többi ablakban az első választásnak megfelelően dinamikusan szűkül a lista. A harmadik termékjelleg az másodlagos termékjelleg kiválasztása után válik elérhetővé.<br />
  A gyártó és a termékjellegek eredeti listájának visszaállításához mindig kattintson a legfelső -- összes -- sorra. Az összes jelleg és a gyártó visszaállításához kattintson még egyszer a webáruház fülre!<br />
  A navigációs panel alatt lévő pipálható szűrők segítségével tovább szűkíthető a találati lista. Szűrhetőek csak a készleten lévő termékek, az újak, akciósak stb.<br />
  <strong>Keresés  kulcsszó beírásával</strong> <br />
  Böngészés helyett használhatja az oldal gyorskeresőjét a jobb felső sarokban, mellyel a termék nevére, azonosítójára, gyártói cikkszámára, leírására, gyártójára vagy termékkategóriára is kereshet.<br />
  <strong>Terméklista</strong> <br />
  A terméklistában a sorok elején található + jelre kattintva az egyes termékekről bővebb információt tartalmazó sort nyithat le. Ugyanide kattintva pedig becsukhatja a sorokat. A fejlécben található + jelre kattintva az összes sor bővebb információit egyszerre nyithatja meg majd csukhatja be.<br />
  A termék azonosítójára vagy nevére kattintva a részletes termékleírás oldal nyílik meg. Ezen belül két fül található. Az első a leírás, ami egy rövid szöveges termékleírás. A második fülön (amennyiben a terméknek már fel lettek töltve az adatai) a paraméterlistája látható. Ezeket a paramétereket össze lehet hasonlítani, azonos kategórián belül és később további szűrések végezhetőek velük.<br />
  A lista fejlécében rendezheti a termékeket azonosítóra vagy terméknévre, valamint a termékek készlete és ára szerint. A termékjellemző melletti nyilakra kattintva csökkenő vagy növekvő sorrendben rendezheti a listát.<br />
  <strong>Termékösszehasonlítás</strong> <br />
  Pipáljon ki legalább 2, de maximum 4 terméket a terméklistában és kattintson a lista első sorában megjelenő összehasonlító lap linkre. A termékek oszlopokba rendezve jelennek meg egy külön ablakban. A paraméterlisták alján közvetlenül hozzáadható a kosárhoz a kiválasztott termék.<br />
  <strong>Börze lista</strong> <br />
  A Börze listában a használt raktár termékei találhatóak meg. Ezen termékek közül is online tud rendelni. Felhívjuk rá figyelmét, hogy ezen termékekből CSAK a készlet erejéig áll módunkan értékesíteni, túlfoglalás nem lehetséges. Fontos, hogy ezen termékek korlátozott garanciával kerülnek forgalomba hozatalra.</p>
            </div>
        </div>
	</div>

	@*	</div>*@

@section ScriptFiles {
    head.js('@Scripts.Url("~/bundles/sammy")', '@Scripts.Url("~/bundles/sammytitle")', '@Scripts.Url("~/bundles/apputils")', '@Scripts.Url("~/bundles/helpers")', '@Scripts.Url("~/bundles/guide")');

}
@section ScriptOnReady {
    console.log('ScriptOnReady section');

    var model = @(Html.Raw(Json.Encode(Model)));
    console.log(model);

    companyGroup.guide.run('#/');

    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model);
  	$('#usermenuContainer').html(usermenuHtml);
}