<img style="max-width:240px"  src="@Url.Content("~/Content/Media/images/career/1.jpg")" alt="" />
<strong>Fiatalos, lendületes csapat</strong></p>
<img style="max-width:240px"  src="@Url.Content("~/Content/Media/images/career/2.jpg")" alt="" />
<strong>Stabil háttér</strong></p>
<img style="max-width:240px"  src="@Url.Content("~/Content/Media/images/career/3.jpg")" alt="" />
<strong>Színvonalas munkakörnyezet</strong></p>
<img style="max-width:240px"  src="@Url.Content("~/Content/Media/images/career/4.jpg")" alt="" />
<strong>Oktatás, gyakorlati képzés (térítésmentes)</strong></p>
<img style="max-width:240px"  src="@Url.Content("~/Content/Media/images/career/5.jpg")" alt="" />
<strong>Értékes szakmai referenciaszerzési lehetőség</strong></p>
<!--img style="max-width:240px"  src="@Url.Content("~/Content/Media/images/career/6.jpg")" alt="" />
<strong>Arcod, lapos...</strong></p-->


