@model CompanyGroup.WebClient.Models.Visitor
@{
    ViewBag.Title = "Bemutatkozás";
}

@*	<div  id="layout-content" class="group">*@
    <div id="content" class="group">
<div style="text-align:justify; width:940px; margin-left:20px; margin-bottom:40px;" id="main_content" class="zone zone-content">
<div>
<div style="text-decoration:none; font-size:30px; color:#084385; padding:20px 0px 15px 0px;" class="focim">"…több mint disztribúció "</div>
<span style="text-decoration:none; color:#084385; font-size:18px;" ><strong>Partnereink sikerének kulcsa sokszor csak egy kis plusz  hozzáadott értéken múlik. A cégcsoportunk küldetése, hogy széles, több ezres termékkínálat  biztosítása mellett, olyan személyre szabott, értéknövelő szolgáltatásokat  biztosítson ügyfelei számára, melynek köszönhetően versenyelőnyre tehetnek  szert munkájuk során. </strong></span>
<br>
<br>

                          <h2><strong>Bemutatkozás</strong></h2>
                          
                          <p>A 100%-ban magyar tulajdonosi  hátterű HRP csoport régóta kiegyensúlyozott stabil szereplője a piacnak. A HRP  cégcsoport az IT szektor kiemelt jelentőséggel bíró területeire szakosodott, cégeket  foglal magába: a HRP Hungary Kft-t, Business Software Center Kft-t, FixDirect  Kft-t, és a HRP Finance Kft-t. Tevékenysége széles skálát ölel fel: a hardver  és szoftver disztribúciótól a számítógép összeszerelésen át a különböző  szolgáltatásokig, mint pl: szakmai tanácsadás, szerviz, outsourcing és pénzügyi  szolgáltatások. A cégcsoport olyan széleskörű partnerbázissal rendelkezik, mely  lefedi a magyar IT piac 90%-át.<strong> </strong>A partnereivel  való szoros és jó kapcsolat ápolása, fejlesztése mellett célja a magyarországi  informatikai kultúra színvonalának emelése. A több mint 160 szakmailag magasan  képzett, tapasztalt kollégájának többsége a kereskedelem és a termékmenedzsment  területén dolgozik. A főváros könnyen elérhető részén, korszerű, modern  környezetben, 5000 m2 alapterületen biztosítja a vevők gyors és kényelmes  kiszolgálását. <strong></strong></p> 
    </div>
    <br>
                          
                          <div style="float:left; width:340px;">
                          <h2><strong>A HRP cégcsoport  számokban</strong></h2>
                          • több mint <strong>4000</strong> aktív partner</br>
                          • több mint <strong>100</strong> hardware és software gyártó terméke</br>
						  • <strong>4500</strong> m2 raktár, modern ügyfélszolgálat </br>
						  • <strong>300</strong> m2 szerviz</br>
						  • <strong>2</strong> demo és oktatóterem </br>
						  • több mint <strong>100</strong> sikeres partneri oktatás és rendezvény </br>
						  • Évente több mint <strong>20000</strong> szervizelt termék</br>
						  • évi<strong> több</strong> <strong>ezer</strong> összereszelt INTENSA PC </br>
                          </div>
    <div style="float:left; width:600px;">                    
    <h2><strong>Néhány szolgáltatásunk a sok közül:</strong></h2>
    • több ezer termékes árukészlet azonnal elérhetően raktárról</br>
    • Minden egy helyen: kényelmes és gyors ügyintézés, vevőközpontú kiszolgálás</br>
    • egyéni igény szerinti PC konfiguráció összeállítás INTENSA márkanév alatt</br>
    • telephelyen belüli magas színvonalú szerviz szolgáltatás, akár VIP ügyintézéssel</br>
    • színvonalas technikai tréningek és partnernapok szervezése</br>
    • gyors és pontos logisztikai szolgáltatások pl: kiszállítás végfelhasználónak, szervizáru visszaküldés </br>
    • magas szintű technikai tanácsadás, demo labor használata </br>
    • Pénzügyi megoldások: Tartósbérleti konstrukció </br>
    </div>
    
<div style="text-decoration:none; float:left; width:200px; color:#084385; padding:30px 0px 15px 0px;" >
    <img src="~/Content/Media/images/iso.jpg" width="217" height="88">
    <div>
    
    </div>
</div>
@Scripts.Render("~/bundles/company")
@section ScriptFiles {

}
@section ScriptOnReady {
    companyGroup.utils.instance().setWebshopBaseUrl('@Url.Content("~/Webshop/")');
    companyGroup.utils.instance().setWebshopBaseApiUrl('@Url.Content("~/api/WebshopApi/")');
    companyGroup.utils.instance().setPictureBaseApiUrl('@Url.Content("~/api/PictureApi/")');

    var model = @(Html.Raw(Json.Encode(Model)));
    
    //console.log(model);

    companyGroup.company.run('#/');

    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model);
  	$('#usermenuContainer').html(usermenuHtml);
    
    $("#becomePartnerContainer").empty();
    var becomePartnerHtml = Mustache.to_html($('#becomePartnerTemplate').html(), model);
    $('#becomePartnerContainer').html(becomePartnerHtml);

    $("#newsletterContainer").empty();
    var newsletterHtml = Mustache.to_html($('#newsletterTemplate').html(), model);
    $('#newsletterContainer').html(newsletterHtml);
	
}
