@model CompanyGroup.WebClient.Models.Visitor
@{
    ViewBag.Title = "Útmutató";
}

@*	<aside id="aside-first" class="aside-first group">
		<div class="zone zone-aside-first">
            <article class="widget-html-widget widget">
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/site_elements/camp-fair.jpg")" alt="" height="400" width="240" /></p>
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/HtmlWidget/mogyoro.jpg")" alt="" height="400" width="240" /></p>
            </article>
        </div>
	</aside>
	<div id="layout-content" class="group">*@
        @*cms Messages
		<div id="messages">
			Messages
		</div>*@
        @*cms BeforeContent
		<div id="before-content">
			BeforeContent
		</div>*@
		<div id="preloader">
			loadnig...
		</div>
		<div id="content" class="group">
			<div style="width:940px; margin-left:20px; text-align:left; margin-bottom:20px" class="zone zone-content">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="63%"><h2 class="focim"><strong>Céginformáció</strong></h2>
        <p><strong>A HRP cégcsoport a magyar IT disztribúciós szektor  meghatározó, dinamikusan fejlődő szereplője, amely számítástechnikai eszközök  valamint szoftverek nagykereskedelmével illetve szervizszolgáltatással  foglalkozik.</strong> 
          <strong>Az egész országra kiterjedő ügyfélkörével jelenleg a hazai  informatikai piac közel 90%-át fedi le.</strong></p>
<p><img src="~/Content/Media/images/diagram_uj.jpg" width="465" height="304" /></p>
        <p>Az eddig elért eredmények a megbízható vevőközpontú szervezetnek, a  világ IT piacának jelentős gyártóival kialakított hosszú távú partneri  kapcsolatoknak és a szakmában elismert munkatársaknak köszönhetőek. A "Több  mint disztribúció" üzleti filozófia által képviselt értékeket a szervezet  minden tagja közvetíti, hozzájárulva ezzel a magyarországi informatikai kultúra  színvonalának emeléséhez. A vevők és az üzleti partnerek számára így olyan  stabil hátteret biztosítanak, amely mindegyik fél számára a hosszú távú sikeres  működést és az üzleti fejlődés lehetőségét jelenti.</p>
        <p>Az 1991-ben alapított HRP Hungary Kft. hardver  disztribúcióval, a BSC Kft. a szoftver termékek nagykereskedelmével  foglalkozik, míg a FixDirect Kft. a forgalmazott termékek szervizelését és  garanciális ügyintézését végzi. A kereskedelmi és a szerviz tevékenység a saját  tulajdonú Budapesti központban folyik, a 6000 m2 es raktár pedig a  partnerek gyors kiszolgálását biztosítja.</p>
        <p>A 3000  aktív partnert meghaladó ügyfélkör rendszerintegrátorokból, független  dealerekből és retail hálózatokból tevődik össze. A cégcsoport képes gyorsan alkalmazkodni  a piaci igények változásaihoz és folyamatosan biztosítani a kimagasló  színvonalat: </p>
        <ul type="disc">
          <li>számítógépgyártás egyedi igények alapján</li>
          <li>dinamikus webes szolgáltatások: webáruház,       számlainformációk, megrendelések követése</li>
          <li>legújabb technológiákról, piaci újdonságokról       tréningek, oktatások</li>
          <li>48 órán belül történő kiszállítás</li>
          <li>a HRP Finance által biztosított pénzügyi szolgáltatások       és megoldások </li>
          <li>szervizszolgáltatás, garanciális ügyintézés akár       az egész országra kiterjedően</li>
        </ul>
        <p>A HRP Hungary Kft. saját brandet vezetett be az  általa gyártott desktop PC-ihez Intensa márkanévvel. A HRP direkt gyártói  kapcsolatokra épülő közvetlen beszerzései - minőségi komponensek  felhasználásával - segítették az Intensa sikerét, aminek eredményeként az  Intensa 2007 óta jelentős szerepet vállal a központosított közbeszerzésekben  is.</p>
      <p>A kínálat felöleli az IT piac minden jelentős  ágát: jelenleg több mint 55  gyártó több ezer terméke szerepel a palettán. A széles termékválaszték a  vevői igényeknek megfelelően folyamatosan változik, hogy a partnerek számára  mindig versenyképes portfolió álljon rendelkezésre. <br />
        <br />
      </p>
      <hr />
      <p><strong>Elérhetőségeink:</strong> </p>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td><strong>Cégnév:</strong></td>
            <td><strong>Adószám:</strong></td>
            <td><strong>Cégjegyzékszám:</strong></td>
            <td><strong>E-mail:</strong></td>
          </tr>
          <tr>
            <td>HRP Hungary Kft.</td>
            <td>10490811-2-44</td>
            <td>Cg.01-09-073874</td>
            <td><a href="mailto:info@hrp.hu">info@hrp.hu</a></td>
          </tr>
          <tr>
            <td>BSC Kft.</td>
            <td>11087120-2-41</td>
            <td>Cg. 01-09-663082</td>
            <td><a href="mailto:info@bsc.hu">info@bsc.hu</a></td>
          </tr>
          <tr>
            <td>FixDirect Kft.</td>
            <td>11776693-2-41</td>
            <td>Cg.   01-09-676167</td>
            <td><a href="mailto:szerviz@fixdirect.hu">szerviz@fixdirect.hu</a></td>
          </tr>
        </tbody>
      </table>
      <p> 
        1033 Budapest, Huszti út 34.<br />
        Telefon: (+36 1) 452-4600<br />
        Fax: (+36 1) 350-1351</p></td>
      <td width="2%">&nbsp;</td>
      <td width="35%" valign="top" style="font-size:12px;"><h3 align="left">beszállítók és termékek:</h3>
        <p><img src="~/Content/Media/images/hrp_logo.jpg" width="125" height="68" /></p>
        <p><strong>Notebook/PC<br />
          </strong>Dell,  Acer, ASUS, Toshiba, Samsung, MSI, Fujitsu, Intensa<br />
          <strong>Periféria<br />
          </strong>HP, Epson, Canon, LG,  Kyocera, Panasonic, Samsung, Star Micronics, Hitachi, Sony, Belkin, Targus, Kensington, Smart, Optoma<br />
          <strong>Hálózat</strong><br />
          Juniper Networks,  3Com, AXIS, Eaton, Netgear , Zyxel , Panduit, HP ProCurve, McAffee <br />
          <strong>Alkatrész</strong><br />
          ASUS, MSI, WayTeQ,  WD, Apacer, Samsung, Foxconn, Intel, Genius, Transcend</p>
        <p><img src="~/Content/Media/images/bsc_logo.jpg" width="125" height="45" /></p>
        <p><strong>Szoftverek</strong><br />
          Microsoft  (dobozos termékek és mennyiségi  licencek, OEM), Symantec, Adobe, CA, Kaspersky, Pinnacle Systems, Corel,  Autodesk, Novell, Nero, Borland, Abbyy <br />
            <strong>Játékok<br />
            </strong>Activision, Vivendi,  Microsoft (XBOX) <br />
            <strong>Perifériák<br />
            </strong>Microsoft (hardware, XBOX),  Logitech, TomTom, Saitek </p>
        <p>&nbsp;</p>
        <div>
        <p><img src="~/Content/Media/images/europaterv_logo.jpg" width="215" height="64" /></p>
        <p><strong>Projekt címe:</strong> Microsoft Dinamics AX(Axapta) integrált   vállalatirányítási rendszer bevezetése a HRP Hungary Kft.-nél<br />
          <strong>Pályázati azonosító:</strong> GVOP-4.1.1.-05/1.-2006-07-0023/4.0<br />
          <br />
          <strong>A projekt az EU társfinanszírozásával, az Európa   Terv keretében valósul meg.</strong><br />
          <br />
A beruházás felelősénék elérhetősége: <br />
<strong>Verebélyi József</strong><br />
Tel.: (1) 452-4627 <br />
          </p>
      </div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>            
            </div>
		</div>
        @*cms AfterContent
		<div id="after-content">
			AfterContent
		</div>
	</div>*@
    @*cms AsideSecond
    <aside id="aside-second" class="aside-second">
		AsideSecond
	</aside>*@

@section ScriptFiles {
    head.js('@Scripts.Url("~/bundles/sammy")', '@Scripts.Url("~/bundles/sammytitle")', '@Scripts.Url("~/bundles/apputils")', '@Scripts.Url("~/bundles/helpers")', '@Scripts.Url("~/bundles/company")');

}
@section ScriptOnReady {
    console.log('ScriptOnReady section');

    var model = @(Html.Raw(Json.Encode(Model)));
    console.log(model);

    companyGroup.company.run('#/');

    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model);
  	$('#usermenuContainer').html(usermenuHtml);
}
