@model CompanyGroup.WebClient.Models.Newsletter
@{
    ViewBag.Title = "Newsletter";
}
			<!--div id="content" class="group">
                            <div style="width:200px; position:relative; float:left; padding-left:250px;"><h2>Újdonságok, akcióink</h2></div>
                <div id="fader">
    <img src="@Url.Content("~/Content/Media/banners/1_banner.jpg")"/>
    <img src="@Url.Content("~/Content/Media/banners/2_banner.jpg")"/>
    <img src="@Url.Content("~/Content/Media/banners/3_banner.jpg")"/>
    <img src="@Url.Content("~/Content/Media/banners/4_banner.jpg")"/>
				</div>
				<div class="button" id="next">►</div>
<div class="button" id="prev">◄</div>
            
			
           <div align="center" style="width:300px; position:relative; float:left; padding-top:15px;">@{Html.RenderPartial("~/Views/Webshop/Partial1.cshtml");}</div-->       
<div  style="width:980px; margin:10px; margin-bottom:0px;" id="main_content" class="zone zone-content">
				<div style="width:980px; position:relative; float:left;" id="div_newsletter_container" class="wrapper">
                </div>
                </div>
                </div>

@Scripts.Render("~/bundles/newsletter")
@section ScriptFiles {

}
@section ScriptOnReady {
    companyGroup.utils.instance().setWebshopBaseUrl('@Url.Content("~/Webshop/")');
    companyGroup.utils.instance().setWebshopBaseApiUrl('@Url.Content("~/api/WebshopApi/")');
    companyGroup.utils.instance().setPictureBaseApiUrl('@Url.Content("~/api/PictureApi/")');

    var model = @(Html.Raw(Json.Encode(Model)));
    //console.log(model);

    companyGroup.newsletter.run('#/');

    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model.Visitor);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model.Visitor);
  	$('#usermenuContainer').html(usermenuHtml);

    $("#becomePartnerContainer").empty();
    var becomePartnerHtml = Mustache.to_html($('#becomePartnerTemplate').html(), model.Visitor);
    $('#becomePartnerContainer').html(becomePartnerHtml);

    $("#newsletterContainer").empty();
    var newsletterHtml = Mustache.to_html($('#newsletterTemplate').html(), model.Visitor);
    $('#newsletterContainer').html(newsletterHtml);

    $("#div_newsletter_container").empty();
    $("#newsletter_template").tmpl(model).appendTo("#div_newsletter_container");
}

@section ScriptsInHead {
<script id="newsletter_template" type="text/x-jquery-tmpl">
{{each( i, item ) Items}}

<div style="width:230px; position:relative; float:left; margin:5px; class="expand_heading">
<div class="toggle_container">
<div align="center">
@*${item.AllowedDateTime}
        ${item.SequenceNumber}
        ${item.NewsletterId}
		${item.Title}
		${item.Description}*@
{{if item.PicturePath.length > 0}}
<a class="popupimg" href="https://www.hrp.hu/Articles/${item.HtmlPath}" target="_blank" title="${item.Title}"><img style="max-width:230px; max-height:230px;" src="https://www.hrp.hu/Articles/${item.PicturePath}" alt="${item.PicturePath}" /></a>
{{else}}
<a class="popupimg" href="https://www.hrp.hu/Articles/${item.HtmlPath}" target="_blank" max-width="240px" title="${item.Title}"><img src="@Url.Content("~/Content/Media/images/demopic.jpg")" width="100px" height="100px" alt="" /></a>
{{/if}}
</div>
<div style=" margin-top:-4px; padding:3px; font-size:12px; background-color:#4874a5; color: #FFF; height:55px; text-shadow: 0px 0px 3px #000;">
${item.Description}
</div>

</div>
</div>

{{/each}}
</script>
}


@section ScriptsInBottom {

}