@model CompanyGroup.WebClient.Models.NewsletterCollection
@{
    ViewBag.Title = "Newsletter";
}

	@*<aside id="aside-first" class="aside-first group">
		<div class="zone zone-aside-first">
        </div>
	</aside>*@
	<div id="layout-content" class="group">
        @*cms Messages
		<div id="messages">
			Messages
		</div>*@
        @*cms BeforeContent
		<div id="before-content">
			BeforeContent
		</div>*@
		<div id="content" class="group">
			<div class="zone zone-content">
            <div align="center" style=" width:5px; position:absolute; padding-top:30px; padding-left:10px;">@{Html.RenderPartial("~/Views/Webshop/Partial1.cshtml");}</div>             
                <div style="width:275px; position:absolute; padding-top:30px; padding-left:280px;" id="div_newsletter_container" class="wrapper">
                </div>

            </div>
		</div>
	</div>
        
@*cms AfterContent
		<div id="after-content">
			AfterContent
		</div>*@
	
    @*cms AsideSecond
    <aside id="aside-second" class="aside-second">
		AsideSecond
	</aside>*@
@section ScriptFiles {
    head.js('@Scripts.Url("~/bundles/sammy")', '@Scripts.Url("~/bundles/sammytitle")', '@Scripts.Url("~/bundles/apputils")', '@Scripts.Url("~/bundles/helpers")', '@Scripts.Url("~/bundles/newsletter")');
}
@section ScriptOnReady {
    var model = @(Html.Raw(Json.Encode(Model)));
    console.log(model);

    companyGroup.newsletter.run('#/');

    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model);
  	$('#usermenuContainer').html(usermenuHtml);

    $("#div_newsletter_container").empty();
    $("#newsletter_template").tmpl(model).appendTo("#div_newsletter_container");
}

@section ScriptsInHead {
<script id="newsletter_template" type="text/x-jquery-tmpl">
{{each( i, item ) Items}}
<div class="expand_heading">
	<table width="695" border="0" cellspacing="0" cellpadding="0" class="expand_heading_table1">
		<tr>
			<td valign="top"><img src="@Url.Content("~/Content/Media/images/plusicon.png")" alt="" /></td>
			<td width="100%" valign="top" class="cus_prod_header_middle_cell">
			<span class="cus_prod_table_item_number">${item.SequenceNumber}</span><span class="cus_product_data">${item.NewsletterId}</span>
            <span class="cus_prod_table_item_code">${item.AllowedDateTime}</span>
            <br /><span class="cus_prod_table_item_name">${item.Title}</span>
			</td>
			<td align="right" valign="top" nowrap="nowrap">
			</td>
		</tr>
	</table>
</div>

<div class="toggle_container">
	<div class="box">
		<table width="695" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top">
				    <div class="cus_termekkep">
                    {{if item.PicturePath.length > 0}}
				    <a class="popupimg" href="https://www.hrp.hu/Articles/${item.HtmlPath}" target="_blank" title="${item.Title}"><img src="https://www.hrp.hu/Articles/${item.PicturePath}" alt="${item.PicturePath}" /></a>
                    {{else}}
				    <a class="popupimg" href="https://www.hrp.hu/Articles/${item.HtmlPath}" target="_blank" title="${item.Title}"><img src="@Url.Content("~/Content/Media/images/demopic.jpg")" width="180" height="134" alt="" /></a>
                    {{/if}}
				    </div>
                </td>
				<td valign="top" class="cus_prod_table_middle_cell">
				    <div class="cus_prod_table_desc">${item.Description}</div>
                </td>
				<td align="right" valign="top" >

                </td>
			</tr>
		</table>
	</div>
</div>
{{/each}}
</script>
}

@section ScriptsInBottom {

}