@model CompanyGroup.WebClient.Models.Visitor
@{
    ViewBag.Title = "Útmutató";
}

@*	<aside id="aside-first" class="aside-first group">
		<div class="zone zone-aside-first">
            <article class="widget-html-widget widget">
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/site_elements/camp-fair.jpg")" alt="" height="400" width="240" /></p>
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/HtmlWidget/mogyoro.jpg")" alt="" height="400" width="240" /></p>
            </article>
        </div>
	</aside>*@
@*	<div  id="layout-content" class="group">*@

    <div id="content" class="group">
		<div style="width:940px; margin-left:20px; margin-bottom:20px; text-align:left" id="main_content" class="zone zone-content"> <div >
<div id="szovegtorzs100">

<h2 class="focim">Elektronikai hulladékkezelés</h2>
<p>Tájékoztatjuk partnereinket, hogy HRP Hungary Kft., a 2000. évi XLIII. Tv.(Hulladékgazdálkodási Törvény), a 264/2004 sz. Korm. rendelet, 15/2004. (X.8.)KvVM és a 16/2004 (X.8.)KvVM rendelet által előírt &quot;gyártói&quot; kötelezettségeit az CCR RELECTRA Nonprofit Kft, CCR REBAT Nonprofit Kft és Öko-Hungária Nonprofit Kft (együtt: <strong>RLG Reverse Logistics Group</strong>)  kötött Átvállalási és Hulladékkezelési szerződések alapján az RLG Reverse Logistics Groupt útján teljesíti. Ez azt jelenti, hogy Magyarország területén minden a HRP Hungary Kft. és más forgalmazók által forgalomba hozott informatikai eszköz átvételét a HRP Hungary Kft. 1133 Budapest, Véső u. 7. telephelyén térítésmentesen elvégzi. Későbbiekben az igényeknek megfelelő más átvételi helyek kialakítására is sor kerül. </p>
</div>
<div id="szovegtorzs100b">
<div style="height:30px">&nbsp;</div>
<img src="~/Content/Media/images/ad_rlg.gif" alt="Electro-Coord Kht." width="120" height="120" border="0" align="left" style="margin-right:10px;" /><br />
    <p><strong>RLG Reverse Logistics Group elérhetősége:</strong><br />
      1071 Budapest, Damjanich u. 11-15. I. emelet 128. (Ligetváros irodaház)<br />
      Tel.: +36(1) 413-1562<br />
      Fax: +36(1)321-84-69<br />
      Email: <a href="mailto:info@relectra.hu">info@relectra.hu</a>
    </p>
    </div>
        </div>
	</div>

	@*	</div>*@

@section ScriptFiles {
    head.js('@Scripts.Url("~/bundles/sammy")', '@Scripts.Url("~/bundles/sammytitle")', '@Scripts.Url("~/bundles/apputils")', '@Scripts.Url("~/bundles/helpers")', '@Scripts.Url("~/bundles/guide")');

}
@section ScriptOnReady {
    console.log('ScriptOnReady section');

    var model = @(Html.Raw(Json.Encode(Model)));
    console.log(model);

    companyGroup.guide.run('#/');

    var visitorInfoHtml = Mustache.to_html($('#visitorInfoTemplate').html(), model);
  	$('#cus_header1').html(visitorInfoHtml);

    var usermenuHtml = Mustache.to_html($('#usermenuTemplate').html(), model);
  	$('#usermenuContainer').html(usermenuHtml);

}